[2017-10-23 19:17] jasnell opened #1 "Suggestion: using ghauth"
The existing https://www.npmjs.com/package/ghauth module would likely make the github authentication bits easier here. It is used by some of the other command line tools we use already (like `make-node-meeting`)

[2017-10-24 03:36] MylesBorins commented on #1
I could take a stab at this refactor if @joyeecheung is up for it

[2017-10-24 03:53] joyeecheung commented on #1
@jasnell Wow, didn't know about this before (I blame google search), thanks!

@MylesBorins Yes go ahead, I guess that just requires some refactoring of `lib/auth.js` and `lib/request.js` (also maybe `bin/metadata.js`)

[2017-10-25 16:36] jasnell opened #3 "Wishlist"
*fantastic work on this* ... loving it.

A couple wish list items that I will *try* to get to but would love if others get to it first:

* [x] An informational listing of the labels applied to the PR
* [x] Printing the PR title
* [x] Printing the number of individual commits in the PR (useful to know if squashing may be necessary)
* [x] If any commits use `[Squash]` in their title line, a nice war

[2017-10-25 17:38] jasnell opened #4 "Extra > in output"
For instance...

[code]

[2017-10-25 18:56] #4 closed

[2017-10-25 18:57] addaleax commented on #1
Fwiw I didn’t see this issue and went ahead to open https://github.com/joyeecheung/node-core-utils/pull/5, feel free to close that if this is a better fit :)

[2017-10-25 19:01] jasnell commented on #1
well... ghauth is fairly old (but well tested...) it might make sense to use an updated version that is based on the improvements you've made in #5.

[2017-10-26 03:04] joyeecheung commented on #3
On a side note: at this point I think we should rename the binary from `get-metadata` to something else XD it already does a lot more than generating metadata now..

[2017-10-26 18:21] joyeecheung opened #10 "Thoughts on next steps"
At the moment my plan is:

1. Tests (meanwhile, fixing more TODOs)
2. CI (Travis?)
3. Making sure the repo name/npm package name and entries are right
   * I named this `node-core-utils` because I think a lot of checking and parsing stuff in `lib` could be useful for other tools, and if we don't want to maintain & document a stable API then putting them into one repo would make things easier.
   *

[2017-10-30 13:52] Tiriel opened #22 "feature: --help command arg"
Opening this issue to start working on the `--help` command arg and help define what needs to be shown with it.

For now, what I see:
- [ ] Add `yargs`
- [ ] General name and purpose of the command
- [ ] Basic usage example
- [ ] Arguments details

Please feel free to complete task list!
As of now, WIP!

[2017-10-30 13:53] MylesBorins commented on #22
Moving to an argument parser like yargs would get us a help command for free 🎉🎉🎉

[2017-10-30 14:04] Tiriel commented on #22
Awesome! I hadn't looked yet for packages, I didn't knew this.

And it would really for another feature I had in mind (and submitted to @joyeecheung ): allowing the user to submit ***only*** the PR url and extract  the PR Id (already implemented), repo and owner (new) from it.

Thanks a lot!

[2017-10-30 14:06] targos commented on #22
+1 for using yargs

[2017-10-30 15:12] joyeecheung commented on #22
@Tiriel  hmm...why would we disable other options tho? I usually prefer defaults for `nodejs/node`(`get-metadata 12345`) because that's what I use the most.

[2017-10-30 15:15] Tiriel commented on #22
@joyeecheung Sorry, my intent wasn't clear.

I don't want to disable any option, just want to enable the possibility to provide only the url and no other arguments, and have the url parsed, OR provide all the combination actually implemented.

More clearly, juste want to add an option. No option should be removed!

[2017-10-30 15:18] joyeecheung commented on #22
@Tiriel Do you mean subtract owner and repo from `get-metadata https://github.com/<owner>/<repo>/pull/15565`? Yes that would be great!

[2017-10-30 15:24] Tiriel commented on #22
That's precisely the idea, yup!

Usage would then be :
`get-metadata <id-or-url> [<owner> <repo>]`
If called with url, `id`, `owner` and `repo` would be extracted from it
If called with integer id, `owner` and `repo` would have to be given as args or else would default to `nodejs` and `node` respectively.

[2017-10-30 15:38] Tiriel commented on #22
Extracting last comment to new issue!

[2017-10-30 15:48] Tiriel opened #25 "feature: improved url parsing to determine owner and repo of PR"
Feature idea:
There's a good base in `bin/metadata.js:parsePRId` (lines 72 -78), but I think we could do more and directly parse the url for owner and repo, without removing actual options.

Usage would then be :
`get-metadata <id-or-url> [<owner> <repo>]`
If called with url: `id`, `owner` and `repo` would be extracted from it
If called with integer id: `owner` and `repo` would have to be given as

[2017-10-30 23:59] alopezsanchez opened #26 "Improve code coverage"
Hello! I just posted here: https://github.com/nodejs/automation/issues/4#issuecomment-340605917.

I think a good way to get started and understand the code is play with it and make some tests.
So, if it seems good to you, I can improve the code coverage.

Regards.

[2017-10-31 00:24] cPhost commented on #10
@joyeecheung you should put all four steps or all todos of plan in repo's project so we can track them.

[2017-10-31 03:07] MylesBorins opened #27 "just used it for the first time"
Really enjoyed it!

Have some ideas, but will open issues for them

Thanks for all the hard word everyone!!!

[2017-10-31 06:17] joyeecheung commented on #26
@alopezsanchez Hi, thank you for jumping in to help! Would love to see more code coverage, but I will need to give you a heads up that the internal API is still changing as we are fixing more todos, so there might be conflicts if there are too many people working on it at the same time. I am not warning people off, just a heads up, feel free to open PRs and see how it goes! (Hopefully it would be

[2017-10-31 06:19] joyeecheung commented on #26
P.S. I have a WIP coverage PR for `PRChecker` right now, but from what I can tell the `lib/logger` would need a bit more tests as well.

[2017-10-31 06:22] joyeecheung commented on #10
@cPhost Good idea, done in https://github.com/joyeecheung/node-core-utils/projects/1 , thanks!

[2017-10-31 06:48] joyeecheung commented on #26
Also if you have not contributed to Node.js core before, another way to help understand the code is to take a loot at the [collaborator guide](https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md) and the [contributing guide](https://github.com/nodejs/node/blob/master/CONTRIBUTING.md), it would be a bit harder to understand the checks without reading those.

[2017-10-31 07:54] joyeecheung opened #29 "Requires `user:email` access after #21"
We need to read the email of the PR author in order to check if it matches the email of the commit author. This requires checking the boxes `user:email` for the personal access token.

Will update README later.

[2017-10-31 09:08] alopezsanchez commented on #26
Okay, I will take a look to it as soon as posible. Thank you!

I have a question about the code. Why are you using `Mocha`?. Don't you prefer `Jest`?

[2017-10-31 10:10] joyeecheung commented on #26
@alopezsanchez Because with jest I would need to use their assertions to get object diffs...I would prefer just using the assert core module instead, less context switch when working on core.

[2017-10-31 15:45] cPhost commented on #3
@joyeecheung we should use sync.io as we are using npm packages it will warn us about suspicious packages.

[2017-10-31 15:53] cPhost commented on #10
@joyeecheung we should use sync.io as we are using npm packages it will warn us about suspicious packages.

[2017-10-31 16:10] joyeecheung commented on #10
@cPhost I think you meant snyk.io ?  I don't think security is a top priority for this tool but..yea why not :D

[2017-10-31 20:30] cPhost opened #32 "Async Function are not being tested like `runAuthScript`"
Mocha by default cannot test async function it will mark it passed if the function does not throw `Error` of any sort synchronously.

I am working on fix. I just need to know all the async functions.

[2017-10-31 20:59] cPhost commented on #32
Only file needed to get update is `auth.test.js` which is bit tricky as it does not return promise but will asynchronously throw error.

[2017-11-01 00:32] joyeecheung commented on #32
@cPhost Good catch, I think you will only need to mark the function passed to `it` async, return a Promise from `runAuthScript` that resolves in `proc.on('close')`? cc @addaleax

[2017-11-01 00:37] refack commented on #32
I requires a little bit more work, need to replace all the `throw`s with the wrapping promise's `reject`, and find the place that signifies the end of the test and call `resolve`. I couldn't get it to work since after that's done it still doesn't work on Windows (probably because of the explicit `\n` that in some places might need to be replaced with `os.EOL`), and I didn't find the place where th

[2017-11-01 00:38] addaleax commented on #32
@joyeecheung Yeah, basically that’s it (@refack I think Joyee had ~ the same thing in mind)

[2017-11-01 00:39] cPhost commented on #32
@joyeecheung @refack the current problem is when `proc.on('close')` is wrapped in a `Promise` mocha times out as the event is emitted at the very end when all the tests are done!

[2017-11-01 00:57] joyeecheung commented on #32
@cPhost You can hold off the resolve in `proc.on('close')` so Mocha will wait for it. This is what I roughly had in mind..

[code]

[2017-11-01 01:03] cPhost commented on #32
@joyeecheung does that work on mocha because i have pretty much the same thing for `proc.on('close'`!

[2017-11-01 01:04] joyeecheung commented on #32
@cPhost Mocha works on async functions, so as long as you can make the promise resolve/reject the way you want it works. I've tested it with a few cases and it seems to fail/pass properly

[2017-11-01 01:07] cPhost commented on #32
@joyeecheung this is what i had. Looks ugly as i was trying diffrent thing

[code]

[2017-11-01 01:11] joyeecheung commented on #32
@cPhost I think you don't have to mind the done part if it's already in async functions, see https://mochajs.org/#using-async--await

Also probably should not resolve right there unless you merge the two `proc.on('close')` listener, because the other one needs to run before resolving as well.

[2017-11-01 01:42] #32 closed

[2017-11-01 01:49] joyeecheung opened #35 "new options: -f / -a that output/append metadata to a file"
That way we can do

[code]

[2017-11-01 01:53] refack opened #36 "tests fail on Windows"
*The three `auth` tests fail (looks like incompatible IPC parsing)
*MetadataGenerator has an unhandled rejection:
[code]

<details>

[code]

</details>

[2017-11-01 01:54] joyeecheung commented on #35
Or do `tty.isatty(process.stdout.fd)` and output the metadata to stdout while printing the checks in stderr..

[2017-11-01 02:01] joyeecheung commented on #36
Thanks for checking this one out. Travis does not seem to support Windows at the moment..maybe we should add [appveyor](https://www.appveyor.com/) to the mix as well

[2017-11-01 02:14] refack commented on #36
I live in Windows 🤷‍♂️
I'll fix this and create an AppVeyor config.

[2017-11-01 10:45] cPhost commented on #32
@joyeecheung i knew about it from before and so i tried both `async` and node style `it(msg, function(done) {})`.

But the problem was i was describing a testing on an event listener which timed out. I don't know what i was thinking!!!

But this issue got resolved quick.

[2017-11-01 14:25] cPhost commented on #3
@joyeecheung about renaming binary `get-metadata`. I have some suggestion.
`get-pr`
`get-meta`

we should probably make it a command binded to package `node-core-utils`.
`node-utils get-pr`
`nodejs-automation get-pr | get-meta | get-metadata`

[2017-11-01 15:35] joyeecheung commented on #3
@cPhost Actually I kind of prefer `get-metadata` now that I have used it a few times...because you would usually just want to check things & generate metadata, there aren't really much use cases where you wound want to separate those.

[2017-11-01 15:47] joyeecheung commented on #3
@cPhost Giving it a bit of thought I think making a larger target like `land-pr` in https://github.com/joyeecheung/node-core-utils/issues/10 would make more sense, in that case it's OK to use potentially outdated metadata because

A) This is likely what we are going to do in a complete landing session in practice anyway, last-moment reviews could get omitted if the user does not keep an eye on the

[2017-11-01 15:58] cPhost commented on #3
@joyeecheung That sounds good to me.

[2017-11-01 16:07] joyeecheung commented on #3
@cPhost I do love the idea of piping things tho because I write small bash commands using pipes all the time, it would be great if we can think of some good formats of output that can interact well with other utilities..

[2017-11-01 16:10] joyeecheung commented on #29
Fixed in https://github.com/joyeecheung/node-core-utils/commit/b0d428d295d7ed31a8634a3d69d16723676b7755

[2017-11-01 16:10] #29 closed

[2017-11-01 17:48] Tiriel commented on #25
Following discussion in #30 I'm starting a test file for functional cli testing.

It will live in `tests/functional/index.js` and will cover the functionalities described in the checkboxes.
in bdd-style specs:

`get-metadata` should:
- [ ] throw when called without arguments/with non-url string argument
- When given numeric first argument :
  - [ ] get PR from `nodejs/node` if no other arguments

[2017-11-01 17:52] joyeecheung commented on #25
@Tiriel SGTM, although I think you can just put it under `test/intergration`? Also if we don't mock the authentication part then it would be a bit harder to put it on CI.

[2017-11-01 18:05] Tiriel commented on #25
No problem, I'll put it in `test/integration`!

As for the mocking part, do you think it possible to use env vars to create a temporary `.ncurc` file with auth informations? I know secured env vars can be defined in Travis CI, I just don't know about the mocking file part...

[2017-11-01 18:19] joyeecheung commented on #25
@Tiriel An easier way to test the CLI would be to export a function that use yargs to parse a string if given, or `process.argv` otherwise, and returns an object with all the options that we want. That way you will only need to test stuff like `assert.deepStrictEqual(parseArgs('-o=sth -r=sth'), {owner: 'sth', 'repo': 'sth'})` and test for errors and stdout (maybe need to fork another process to te

[2017-11-01 18:40] Tiriel commented on #25
Okay, I think I see what you mean. More like unit-testing only the args processing part than the actual calls, since we already know they work and are tested elsewhere?

As for the bin refactoring it does seem good to me, but I think I'll stay on the url parsing + testing for this issue/PR and leave to another one, I feel I already have to much changes in one PR. Would that be ok to you?

[2017-11-02 10:44] joyeecheung opened #44 "Some fixes can not be reliably detected"
https://github.com/nodejs/node/pull/16604

Body HTML is:

[code]

Where there is a space before `:`

[2017-11-02 10:46] #35 closed

[2017-11-02 11:49] apapirovski commented on #44
Also potentially relevant: https://help.github.com/articles/closing-issues-using-keywords/ — that's all the different versions that github supports, meaning a first-time contributor to Node might use one of the other formats.

[2017-11-02 16:15] joyeecheung commented on #25
I think we can close this now that https://github.com/joyeecheung/node-core-utils/pull/30 has landed. Thanks!

[2017-11-02 16:15] #25 closed

[2017-11-02 16:16] joyeecheung commented on #22
Can be closed now that https://github.com/joyeecheung/node-core-utils/pull/30 has landed

[2017-11-02 16:16] #22 closed

[2017-11-02 16:21] Tiriel opened #49 "Reduce test flakiness for auth.test.js"
Tests seem to be randomly taking more than 1000ms on occasions, and end up ffor timeout reasons.

I'm going to up a bit the timeout, 1500ms seems a reasonable option for a start.

[2017-11-02 16:27] cPhost commented on #49
I would make a pr on it.

[2017-11-02 16:34] #49 closed

[2017-11-02 18:43] Tiriel opened #55 "Merge policy"
Quick question here, mainly for @joyeecheung :D

What is your preferred merge policy for PRs?
Do we stick to Node Core policy? (no using the "green button", etc etc)?
Do you prefer to review every PR and merge them yourself?

[2017-11-02 22:54] refack commented on #55
I'm +1 for squash-merge and rebase-merge

[2017-11-03 04:18] joyeecheung commented on #55
I don't think we need to stick to Node core policy, that's probably too complicated for a tool like this :D. At the moment my policy is: CI is happy, no one requested changes in half a day or it's trivial enough, then merge (wo so don't need wait for 48 hours in this repo lol).

Also I like the buttons as well. Collaborators can merge them without me reviewing of course! Although I do want to revi

[2017-11-03 05:51] #44 closed

[2017-11-03 12:35] joyeecheung opened #59 "Moving it into the Node.js foundation?"
So I have been holding this off because previously we did not have enough test coverage, the README was meh, and we didn't have help text which was confusing. Now that these problems seem to be fixed (thanks for everyone working on this project!) I think it's about time we move this into the foundation.

(I don't think anyone will object, but I may be wrong, so open an issue here first).

[2017-11-03 12:37] targos commented on #59
+1

[2017-11-03 12:37] joyeecheung commented on #59
Also there are a few files missing: LICENSE and CONTRIBUTING.md. I will open a PR later...

[2017-11-03 12:38] cPhost commented on #59
+1 from me

[2017-11-03 12:39] abouthiroppy commented on #59
+1

[2017-11-03 13:30] Tiriel commented on #59
LGTM once all the files are here

[2017-11-03 13:32] maclover7 commented on #59
Personally, I'd rather this tool keep iterating separately for a little while outside of the nodejs/automation repo while the dust settles from the monorepo migration. Once everything is in place there, then I'd say we can move it over.

[2017-11-03 13:55] apapirovski commented on #59
I'm +1 once we have all the proper files and "Warn new commits after reviews" is finished.

Also, if we can somehow fix the appveyor auth issues then that would be a part of what I would like to see done (or if not, then have those tests disabled on it).

[2017-11-03 14:01] apapirovski commented on #10
@joyeecheung Any thoughts re: using something like https://github.com/nodegit/nodegit so we can do a bit more than we can straight up by executing git commands on the shell?

[2017-11-03 14:12] apapirovski commented on #10
Reason I ask is that I'm thinking of working on `land-pr` over the weekend so I want to make sure my direction is ok with you before I get too deep into it.

[2017-11-03 14:24] joyeecheung commented on #59
cc @refack on the Appveyor issue...do we just need to disable it on the PR? (Although I can't seem to exclude my own PR before it gets transferred to another owner)

[2017-11-03 14:26] joyeecheung commented on #10
@apapirovski Yes nodegit is what I've been thinking about when I opened this issue.

[2017-11-03 14:27] apapirovski commented on #10
Awesome, I'll plan to work on it this weekend but let me know if you're already doing any work or have anything planned. Don't want to step on each other's toes.

[2017-11-03 14:29] joyeecheung commented on #10
@apapirovski I am baking the step 2 and 4 locally, will probably open an PR over the weekend.

[2017-11-03 14:30] joyeecheung commented on #10
^Although I wouldn't implement them as `land-pr` at first, they can be separate targets initially.

[2017-11-03 16:45] refack commented on #59
Just back in front of a computer. On the AppVeyor thing now.
But FYI, there's a limitation on using GitHub apps for repos in the nodejs org (related to access to private repos). Since I assume we want to keep the current integration, need to check the status of that.

Ref: https://github.com/nodejs/nodejs.org/issues/1094

[2017-11-04 03:07] joyeecheung opened #66 "todo: check commits after the last CI run"
If there are new commits after the last detected CI run (right now, any CI would do because we don't have labels to understand what type of CI a PR must go through), warn about it and print the commit titles (so the lander would know if it's just fixing nits, or can be reminded to double check).

I think this can be done in `PRChecker.checkCI()`

[2017-11-04 03:17] joyeecheung commented on #59
OK I just disabled appveyor on pull requests (disable the pull request event in the webhooks). @refack If you want to work on it, you can push a branch to this repo and open PR with it, or manually trigger the build(not sure how though?)

[2017-11-04 03:19] joyeecheung commented on #59
@maclover7 @apapirovski I understand the concerns, but meanwhile I see no harm in opening an issue in the TSC repo to seek consensus first? The transition can happen later.

[2017-11-04 03:55] joyeecheung opened #67 "todo: account LGTM in "COMMENTED" reviews"
Example: https://github.com/nodejs/node/pull/16248#pullrequestreview-74093431

[2017-11-04 03:56] joyeecheung opened #68 "todo: warn about conflicts"
I guess the lander will notice this when they push...but a warning in advance wouldn't hurt.

[2017-11-04 03:58] joyeecheung commented on #26
I think this can be closed for now since the coverage looks OK. We will need to find a way to do intergration test and cover `request.js` though, I have some ideas.

[2017-11-04 03:58] #26 closed

[2017-11-04 04:16] cPhost commented on #59
@refack @joyeecheung you can jut enable appveyor for fork and then work on it until it gets fixed. Hope that helps.

[2017-11-04 06:35] Tiriel commented on #67
Just to be sure, you want to count the number of "LGTM" in the comments of a review?

Anyway, I'm taking this one!

[2017-11-04 06:44] Tiriel commented on #55
I guess this can be closed now.

Anyway, issue can be reopend if need be.

[2017-11-04 06:44] #55 closed

[2017-11-04 11:41] joyeecheung commented on #67
@Tiriel I mean the LGTM in a COMMENTED review should count as an approval ;)

[2017-11-04 11:53] Tiriel commented on #67
Oh yeah I see, sorry.

Got it! I'll assign myself if it's ok

[2017-11-04 12:48] #1 closed

[2017-11-04 13:59] apapirovski commented on #59
@joyeecheung Sorry, I didn't mean to hold it up 😓 — I was more speaking in terms of what I would like to see happen before an actual transition happens. Of course you should open an issue and get the process started. 👍

[2017-11-04 22:40] alopezsanchez commented on #68
Hello. I can take it if you don't have any inconvenience.

@joyeecheung can you please be more specific with the feature? :smiley: Maybe I need a guidance on this.
Thank you!

[2017-11-05 01:22] cPhost commented on #68
@alopezsanchez if you want to work on it here are couple of things you need to do

- add `mergeable` field in `queries/PRCommits.gql` under `nodes` it would have three possible values `CONFLICTING`, `MERGEABLE ` and `UNKNOWN`.
- it would `UNKOWN` when it's still calculating the mergeability of the pull request.
- Implement the feature in `lib/pr_checker.js`
- the property should be available in `t

[2017-11-05 02:04] alopezsanchez opened #74 "Collaborators tests"
The `lib/collaborators.js` test suite is very short. I'm improving it.

I create the issue just for inform you. Nodoby likes duplicating work.

[2017-11-05 02:31] joyeecheung commented on #74
Yes please! Thank you for working on it!

[2017-11-05 02:33] joyeecheung commented on #68
+1 to what @cPhost says, though I think the property would appear in `this.commits.commit.mergeable`

[2017-11-05 02:37] joyeecheung opened #75 "Add tests for cross-repository/cross-owner fixes"
Opening a separate issue so it does not get buried...

<del>After https://github.com/joyeecheung/node-core-utils/pull/70 we've fixed the fixes parsing bug (kudos to @apapirovski !) but now it would skip cross-repo fixes. I think we can reliably get the fixes url with `getRefUrlFromOP()` which parses the HTML to get the link. </del>

It works! But would need some tests to make sure it does not regr

[2017-11-05 02:40] joyeecheung commented on #75
Ah, looking at it a bit deeper I think this also existed before the fix, and it would skip both cross-owner and cross-repo fixes.

[2017-11-05 03:03] joyeecheung commented on #75
Ah wait, after a few tests I think this works properly already because it tests `/^#/` so cross references would be skipped. Still worth adding some tests to make sure it does not regress though.

[2017-11-05 04:29] cPhost commented on #68
@joyeecheung yes it should appear in `this.commits[i].commit.mergeable`

[2017-11-05 04:33] cPhost opened #76 "eslint for EOL of all files."
We need eslint plugin for json to fix this issue.

[2017-11-05 14:29] cPhost commented on #76
This should be closed now.

[2017-11-05 14:29] #76 closed

[2017-11-05 17:21] joyeecheung commented on #10
Just got another idea: we could implement each step as custom commands of git, iterate on that, and put them together as `land-pr` when they are ready. E.g.

step 2 = `git node-apply-pr 12345` + `git node-squash-commits`
step 4 = `git node-append-metadata` + `git node-validate-commits` (user can configure the upstream remote in `.ncurc`)

[2017-11-05 22:40] #36 closed

[2017-11-05 23:31] alopezsanchez commented on #68
Thank you for your advices. I'm taking a look at Github's GraphQL API and the property `mergeable` is at pullRequest level (https://developer.github.com/v4/reference/object/pullrequest/).

So.. what is the goal of this issue? Just warn when the PR mergeable state is CONFLICTING? Do you want to know the files and the commits affected?

In case of the second, how I can obtain these information? Sorr

[2017-11-05 23:45] cPhost commented on #68
I agree that the documentation of GitHub GraphQL is not the best. here is the link
https://developer.github.com/v4/reference/enum/mergeablestate/

And i don't think you can get the list of files that would be conflicting. I might be wrong!

[2017-11-06 00:08] alopezsanchez commented on #68
If I can't get the conflicting commits, then I don't understand why you said mergeable property would appear in `this.commits[i].commit.mergeable`.

For this, `mergeable` should be in `queries/PR.gql`.

Recapitulating, this feature is just about warning if the PR state is `CONFLICTING`. We don't want to know about conflicting commits and files, right?

What do you think?

[2017-11-06 00:17] cPhost commented on #68
@alopezsanchez if a commit is conflicting means the whole PR is conflicting.
If the state `mergable` is `CONFLICTING` then the commit is conflicting.

[2017-11-06 00:35] alopezsanchez commented on #68
Yes, but if a PR has n commits and there is a conflict, all of it will have conflicting state. Do we want to know which is the specific one that causes the conflict?

[2017-11-06 01:14] cPhost commented on #68
@alopezsanchez not really i think what @joyeecheung wanted was they know in advance that there is going to be conflict. I think she just wants

as the lander would know later know details about it when they push think of it as a sort of heads up there is going to be a conflict.

[2017-11-06 02:36] #74 closed

[2017-11-06 02:38] joyeecheung commented on #68
@alopezsanchez The Github GraphQL API does not seem to support reading PR diffs/files at the moment, this is also why we still have not finished the last todo in our README:

[code]

[2017-11-06 02:41] apapirovski commented on #10
A bit disappointed in nodegit capabilities when it comes to actually manipulating the repository. It seems like we'll need a hybrid approach of executing command line git commands & using nodegit.

[2017-11-06 02:48] joyeecheung commented on #10
@apapirovski If nodegit cannot cover our needs then we might consider not using it at all to avoid extra dependencies..

Personally I like the custom commands approach better because that's what Chromium/v8 uses as well (see [git-cl](https://chromium.googlesource.com/chromium/tools/depot_tools.git/+/HEAD/README.git-cl.md))

[2017-11-06 02:51] apapirovski commented on #10
Yeah, I think that writing slightly more complex bash scripts will make more sense for these than using nodegit. nodegit is also a pain to install since it has to build libgit2 which takes forever. So if we don't need it as a dependency, I'm all for it.

[2017-11-06 02:55] joyeecheung commented on #10
@abouthiroppy Just so you know, the custom commands don't have to be bash scripts, they are just executables. Also we can put the complicated part into Node.js scripts and interact with the bash scripts with stdio.

[2017-11-06 02:58] apapirovski commented on #10
@joyeecheung Oh yeah, I know — sorry, just expressing myself poorly. We'll need a combination of both IMO based on the testing I've done so far locally, and yeah basically comes down to Node interacting with bash scripts.

[2017-11-06 12:37] cPhost opened #87 "`npm run coverage-all` emits an error on Travis CI"
It passes locally and on appveyor but emits error on CI.

[2017-11-06 12:38] cPhost commented on #87
I need confirmation does `--reporter` shoule be `text-locv`

[2017-11-06 12:56] joyeecheung commented on #87
Which build has failed?

[2017-11-06 13:01] apapirovski commented on #87
I'm not seeing the errors... Link?

[2017-11-06 13:04] cPhost commented on #87
[code]

[2017-11-06 14:33] joyeecheung commented on #87
@cPhost That's kind of weird, subsequent builds seem to work fine, looks like some nyc internal machineries gone wrong..

[2017-11-06 15:13] cPhost commented on #87
I will try to work on it on fork. But i think if that does not work we now have appveyor reporting coverage.

[2017-11-06 15:33] cPhost commented on #87
closing this now as it seems there has been no more errors.

[2017-11-06 15:33] #87 closed

[2017-11-07 01:46] #66 closed

[2017-11-07 02:53] joyeecheung commented on #3
I've crossed out the first two items because those should be fixed by https://github.com/joyeecheung/node-core-utils/pull/57

[2017-11-07 02:54] apapirovski commented on #3
Third is also taken care of by it :)

[2017-11-07 03:53] joyeecheung opened #89 "todo: skip the 48-hour check if it's a code-and-learn PR"
Those PRs usually have `code-and-learn` labels.

[2017-11-07 09:47] targos opened #90 "latest version is broken"
[code]

[2017-11-07 10:04] Tiriel commented on #90
Hey!
Can you give us specifics? Which OS? Which version? How did you install it? (npm, source?)

[2017-11-07 10:08] targos commented on #90
Installed with `npm install -g node-core-utils` on Linux x64.

Contents of the package:
[code]

There is no `steps` directory in there.

[2017-11-07 10:58] Tiriel commented on #90
Thanks!

There indeed seems to be a problem, at least with Node v8.4. Is that the version you use?
There is also an error with v8.9, but a different one...
Investigating ASAP.

[2017-11-07 11:31] targos commented on #90
I'm using node 8.8.0

[2017-11-07 11:33] Tiriel commented on #90
Okay!

Well, this error occurs at least from 8.4 to 8.8 then, and we have another one, though probably related, with 8.9.

As said, I'll check ASAP if someone doesn't do it sooner (currently at work)

[2017-11-07 11:57] targos commented on #90
I found the fix. PR incoming.

[2017-11-07 12:04] targos commented on #90
https://github.com/joyeecheung/node-core-utils/pull/91

[2017-11-07 12:21] #90 closed

[2017-11-07 14:57] Tiriel commented on #89
I'm on it! Should be quick, for once :D

[2017-11-07 19:34] Tiriel opened #94 "Todo: Skip the wait check for specific PRs"
Hey!

Related to #89 , and as seen in [#92(comment)](https://github.com/joyeecheung/node-core-utils/pull/92#issuecomment-342593313):
* [ ] check for labels `doc` and `test`
* [ ] check for a max number of files

Question: what is the ideal number of files? I would go for three, but I'm not an expert...

[2017-11-07 21:26] alopezsanchez commented on #94
Hello!

It's not possible to retrieve files/diffs at the moment with GraphQL API (https://github.com/joyeecheung/node-core-utils/issues/68#issuecomment-342031633), so I'm afraid we have to wait for the second point.

But I can do the first one if there are no incoveniences.

[2017-11-07 21:28] apapirovski commented on #94
I would probably suggest holding off. I feel like this is something that needs to be discussed within Node.js itself a bit...

IMO a lot of this could be simplified by setting a 24 hour limit (instead of 48 hours) on doc, test & code-and-learn changes. Then it can stop being so arbitrary.

/cc @addaleax, @joyeecheung

[2017-11-07 21:31] alopezsanchez commented on #94
Oh, okay @apapirovski, I didn't know that. Thank you!

[2017-11-08 11:22] mcollina opened #95 "bash script to land a PR?"
I wrote this:

[code]

I think it might be something we might want to add here, in node, or mention it in the README

[2017-11-08 11:22] Tiriel commented on #59
I was going to ping to see if we should do it once the current PRs are landed, but I see the request has been made already :D

[2017-11-08 11:43] joyeecheung commented on #95
@mcollina I have a few custom git commands that are in essense using the same commands as the OP + some additional checking and configuration, I plan to open a PR later this week to see what people thinks. (If we point them to `git-*` bin targets of `package.json`, those will automatically appear as git commands).

Here is a preview. I plan to make another one that handles the single-commit case s

[2017-11-08 15:39] Tiriel commented on #67
Landed in #72 !

[2017-11-08 15:39] #67 closed

[2017-11-08 17:44] #68 closed

[2017-11-09 10:13] targos opened #97 "validate commits to deps/v8"
We have a few rules about commits to our V8 copy, that are documented in the [maintaining V8 guide](https://github.com/nodejs/node/blob/master/doc/guides/maintaining-V8.md).
Some things could be easy to check:
- For backports / cherry-picks
  - Format of the commit title
  - Presence / correctness of the original commit message in the message
  - Presence of the `Refs: github_url` in the message

[2017-11-09 10:24] addaleax commented on #97
I’d go with “yes”, for all of these :)

[2017-11-09 10:26] addaleax commented on #97
I’d go with “yes”, for all of these :)

[2017-11-09 12:40] Tiriel commented on #97
+1, could be implemented by checking the right label (again).

This makes me think, we're having more and more rules to be implemented if specific labels are present in the PR. Maybe it would be more convenient to have a "label checker" module in which we could add label checks as we need them

[2017-11-09 13:41] Tiriel commented on #89
Landed in #92 !

[2017-11-09 13:41] #89 closed

[2017-11-09 13:48] joyeecheung commented on #97
@addaleax

+1

@Tiriel

In this case I am afraid we checking the labels is not gonna be enough, because an V8 PR might include commits that don't touch `deps/v8` (e.g. updating build files). We probably will have to integrate the v3 and look into the files

[2017-11-10 11:07] Tiriel commented on #95
Ref: #98

[2017-11-10 14:03] Tiriel commented on #59
I think this can be closed now, since we're in the Foundation!

[2017-11-10 14:03] #59 closed

[2017-11-10 19:55] refack opened #102 "analytics on various parameters e.g. how many people still LGTM in comments"
Seems like it's an old custom, but I think it's cute.
![image](https://user-images.githubusercontent.com/96947/32676056-26b0ca96-c627-11e7-8eeb-65058e9f9d7f.png)

[2017-11-10 19:56] refack commented on #102
H/T @bnb

[2017-11-10 19:57] MylesBorins commented on #102
I'm -1 on this

People should have to be explicit on this. We don't consider shipit an official LGTM for core commits afaik

[2017-11-10 20:02] Tiriel commented on #102
It is cute indeed, but I'm -1 too.
The only other case I'd accept with LGTM is "SGTM", because it's explicit. But I don't think we should extend too much on the accepted cases.

[2017-11-11 19:13] joyeecheung commented on #102
@Tiriel I wouldn't accept `SGTM` either because that implies the person has not actually reviewed i.e LOOKed into the code, therefore they don't count as reviewers.

[2017-11-11 19:21] joyeecheung commented on #102
Also in my understanding, reviewers should be able to backport or fix regressions when the original author is not available. SGTM or shipit do not really imply that either..

[2017-11-11 22:21] refack commented on #102
This makes me think of an actual but tangential idea. Report analytics on the versions parameter (such as how many people still LGTM in comments).

If you don't mind I'll pivot this issue and self assign.

### New subject: analytics

[2017-11-11 23:13] refack opened #108 "PRChecker: Check that semver-major commits have an explanation of breaking changes"
Refs: https://github.com/nodejs/node/pull/16846

[2017-11-11 23:58] Tiriel commented on #108
Funnily enough, I saw this discussion, and thought "When this lands, this will be a perfect job for the pr_checker".

Anyway: :+1:

[2017-11-12 06:24] joyeecheung commented on #108
To me this is not the job for pr checker, but the job for core-validate-commit.

[2017-11-12 06:27] joyeecheung commented on #97
So I've given it a bit of thought, turns out this should be the job of `core-validate-commit`. There is no need to "get the file changed" if the file is already on the user's disk, the tool just need to `git show` them to find out.

[2017-11-12 08:32] Tiriel commented on #108
True! I had forgotten we had other tools :smile:

[2017-11-13 11:42] refack commented on #108
It's not a trivial separation 🤔 - this might not be a simple formatting rule like what `core-validate-commit` check, it might need to live in the PR description (like `Fixes`) and require the author's to help...

As I see it `core-validate-commit`:
1) Checks formatting rules - all of which the lander can fix (maybe even automatically)
2) Is run last in the landing process - just before a `git push

[2017-11-13 12:36] cPhost commented on #108
@refack for now we should probably wait for `Breaking: ` and the length requirement to land in core first or something like that and then maybe we can implement this?

[2017-11-13 17:25] refack commented on #108
@cPhost in term of ❌  / ✔️ I agree.
I also think that having the tool report on the rules for uncommon cases would be very helpful... let's think about this, try to find a smart way to do that.

[2017-11-14 16:17] cPhost commented on #10
@joyeecheung can you let me know about the last todo in readme

as already opened a PR for v3 support.

[2017-11-15 02:19] vsemozhetbyt opened #112 "get-metadata: Git Bash for Windows nits"
Windows 7 x64
Node.js 9.2.0
get-metadata 1.6.1

Please, compare the outputs in a `cmd.exe`:

![cmd](https://user-images.githubusercontent.com/10393198/32815289-f8ff67f4-c9bb-11e7-90f5-c67e5e553bdd.png)

and Git Bash for Windows:

![git-bash](https://user-images.githubusercontent.com/10393198/32815290-f91aaf14-c9bb-11e7-808e-52777a82c776.png)

1. Git Bash output lacks colors.
2. Git Bash output dup

[2017-11-15 02:22] cPhost commented on #112
@vsemozhetbyt the color is probably because of git bash.
Definitely duplication colors is a bug which should probably be related to git bash too.

[2017-11-15 02:33] cPhost commented on #112
@vsemozhetbyt can you let me know what does this cmd
`node -p -e "Boolean(process.stdout.isTTY)"`
prints out in Git Bash.

[2017-11-15 02:34] vsemozhetbyt commented on #112
@cPhost
[code]

[2017-11-15 02:48] cPhost commented on #112
Basically the only way the metadata could be outputted to terminal two time is if
`if(!process.stdout.isTTY)` which in this case we confirmed should not and the other time with
`lib/cli` module. which works as expected as git bash is a terminal.

[2017-11-15 02:55] vsemozhetbyt commented on #112
@cPhost I suppose it is connected with this note [here](https://github.com/nodejs/node/blob/master/BUILDING.md#supported-platforms-1):

With `node.exe`:
[code]

[2017-11-15 02:58] joyeecheung commented on #112
Does redirecting work with Git bash? We can probably somehow check that in the code an don't write to stdout if that's the case...

[2017-11-15 02:59] joyeecheung commented on #112
Or is it a bug of node core? Shouldn't it be `false`?

[2017-11-15 03:00] vsemozhetbyt commented on #112
FWIW, with `winpty` and full filename both nits are fixed:

![winpty](https://user-images.githubusercontent.com/10393198/32816543-e15935de-c9c1-11e7-905d-af04c97b8205.png)

[2017-11-15 15:17] cPhost commented on #112
There was a bug reported in core for this which was closed.
The reason this happens is that Git Bash is using (maybe using?) pipes.

[2017-11-15 15:21] cPhost commented on #112
Finally we can add note to readme about this.

[2017-11-18 12:19] vsemozhetbyt commented on #94
New rules landed: https://github.com/nodejs/node/pull/17056
In PRs like [this](https://github.com/nodejs/node/pull/17107) the warning may need to be suppressed.

[2017-11-18 12:22] vsemozhetbyt opened #117 "get-metadata: add "Refs:" in metadata"
Example: https://github.com/nodejs/node/pull/17107

IIRC, nodejs/node-review [adds this data](https://github.com/nodejs/node-review/search?utf8=%E2%9C%93&q=Refs&type=).

[2017-11-18 12:30] Tiriel commented on #117
Strange, this feature is already implemented and is supposed to work, but I can't get Refs in metadata either.
Unit tests are even working and properly returning Refs. I'll investigate, if someone doesn't beat me to it.

[2017-11-18 15:28] alopezsanchez opened #118 "CHANGELOG?"
With the project growing everyday... Don't we should include a `CHANGELOG.md`?

[2017-11-18 15:41] targos commented on #118
+1. What about using [standard-version](https://github.com/conventional-changelog/standard-version) to generate it automatically? We would just have to choose a style for commit messages.

[2017-11-18 15:43] Tiriel commented on #118
Definitely +1!

zlthough I was going to suggest using [changelog-maker](https://github.com/nodejs/changelog-maker) :smile:

[2017-11-18 16:34] joyeecheung commented on #118
+1 to changelog-maker for dog-fooding

[2017-11-18 16:38] joyeecheung commented on #117
node-review doesn't add that refs, actually.

<img width="405" alt="screen shot 2017-11-19 at 12 36 44 am" src="https://user-images.githubusercontent.com/4299420/32982590-c0de4904-ccc1-11e7-9e06-511b1cc77e2b.png">

The link parser code is largely borrowed from node-review. It currently only take urls that are `a.issue-link` i.e. github issues/PRs

[2017-11-20 14:44] gibfahn opened #119 "Work out PR number for head branch"
It'd be nice if I could do `get-metadata` (or `get-metadata @`) if I'm on a fork branch with an open PR.

Could do something like:

[code]

[2017-11-21 16:16] joyeecheung commented on #119
https://github.com/nodejs/node-core-utils/pull/106 kinda needs this as well, although that one is for landing PRs that are not necessarily opened by the people landing them. I am thinking a `git node config` command to associate remote/branch settings so the configuration persists and we don't have to pass the parameter all the time.

[2017-11-21 16:17] joyeecheung commented on #119
Also it would be convenient if I can `git node pr --open` from the current branch, a bit like `git cl upload` of chromium/v8

[2017-11-21 18:11] gibfahn commented on #119
Config option makes sense, although I think working it out from the upstream is a good fallback.

What do you mean by associating the branches for you? I can see that you could automate the "raise PR from fork/mybranch against upstream/master with this comment".

[2017-11-21 22:54] evanlucas commented on #119
@joyeecheung I had previously worked on something to kick off a CI run at https://github.com/evanlucas/nodejs-ci-ctl

[2017-11-22 05:08] joyeecheung commented on #119
@evanlucas Awesome, I will see if I can integrate that into the git commands

[2017-11-23 14:01] targos opened #120 "get-metadata: display a more user-friendly error when a wrong PR id is used"
Currently:
[code]

[2017-11-23 15:01] cPhost commented on #120
@targos , sure I will try to work on that.

[2017-11-23 15:18] joyeecheung commented on #117
@Tiriel Did you have a chance to look into this?

[2017-11-23 15:21] Tiriel commented on #117
@joyeecheung Not yet, had a pretty busy week. Putting it on my schedule for tonight!

[2017-11-23 15:24] joyeecheung commented on #94
Fixed, closing

[2017-11-23 15:24] #94 closed

[2017-11-23 18:10] cPhost commented on #117
The reason `Refs` is not being inserted to metadata because of
https://github.com/nodejs/node-core-utils/blob/edd107a706571bb69937f6ee02b74ff6b12c13f1/lib/links.js#L48

The query selector at line 48 `a.issue-link` returns undefined because github no longer uses `.issue-link` class and thats the reason the tests are passing but the feature is not working.

Way to fix this issue is just to remove `.

[2017-11-23 22:08] Tiriel commented on #117
Still looking for a propoer way to parse the links recursively, I'm on it ;)

[2017-11-24 02:13] joyeecheung commented on #117
@cPhost SGTM

[2017-11-24 02:18] #120 closed

[2017-11-24 10:54] Tiriel commented on #117
Don't know what I did last night but I was way too far... Opening a PR. Removing the class was all that was needed it seems. Tests OK and example given OK too.

[2017-11-25 14:53] vsemozhetbyt opened #127 "get-metadata: should we accept "Fixes" and "Refs" without ":"?"
Refs: in the https://github.com/nodejs/node/pull/17295, the `Fixes https://github.com/nodejs/node/issues/17294` commit message line was not included in the metadata.

[2017-11-25 15:23] joyeecheung commented on #127
I am a bit afraid this would give some false positives and we have to end up with struggling with natural language processing. So the easiest solution is: if people don't follow the format, just ignore it.

[2017-11-25 15:44] vsemozhetbyt commented on #127
@joyeecheung I am a bit concerned that people can use GitHub syntax that does not require `:`

https://help.github.com/articles/closing-issues-using-keywords/

[2017-11-25 15:52] Tiriel commented on #127
Well, they might indeed, but the syntax only works when the branch is merge according to the doc you linked, I don't know if it works with our process.

Anyway, I'm +1 with @joyeecheung , the formatting exists for a reason IMHO, I don't think we should make allowance or we risk having more problems than now.

[2017-11-25 15:56] targos commented on #127
is it detected by a regexp now?

[2017-11-26 03:42] joyeecheung commented on #127
@targos Yea it's deteced by regular expressions in `lib/links.js`, with some JSdom queries to get the URL out of the `href` attributes.

[2017-11-29 14:16] #117 closed

[2017-11-29 14:22] #112 closed

[2017-12-12 13:17] BridgeAR commented on #95
As I also use a very similar bash script at the moment - to handle multiple commits at a time I also added a conditional rebase

[code]

[2017-12-12 15:57] BridgeAR commented on #95
I actually played a bit around and my script and it got a bit more sophisticated. Note - I use `xclip` to copy the message into the clipboard.
[code]

[2017-12-12 16:18] cPhost commented on #95
Hey @BridgeAR `xclip` for copying data is a great idea but the problem is bash pr is till Work in Progress.

[2017-12-12 18:04] BridgeAR commented on #95
@cPhost I just thought I might share it as it does a few more things and if someone wants to use, they can. I am probably going to improve that a bit further from time to time.

[2017-12-12 18:06] BridgeAR opened #130 "Exit code non zero"
I think it would be nice if the call would return a non-zero exit code in case a requirement is missing.

[2017-12-12 18:08] BridgeAR opened #131 "Error out on young PRs without fast-track label"
If a PR has a `fast-track` label on it, it should not be complained about. Right now there is a warning sign in case the PR is younger than 48 hours (do we check 72 hours on the weekend by the way?). But if the label is applied, that should not warn out of my perspective. And if the label is not applied, I would expect a error instead of just a warning.

[2017-12-12 18:16] cPhost commented on #131
@BridgeAR we do check for 72 hours on weekdays.

I dont think we can detect if a PR needs fast track

Can you elaborate more on what you need error for or don not have warning for.

[2017-12-12 18:17] apapirovski commented on #131
We definitely can, that's what the `fast-track` label is for.

[2017-12-12 18:18] cPhost commented on #130
Sure, do you want to make a PR it just adding non-zero exit if status is false.

[2017-12-12 18:18] BridgeAR commented on #118
As this project is actually not that big, I personally prefer [standard-version](https://github.com/conventional-changelog/standard-version) because we do not have to think about labeling patch / minor / major and I prefer the standard message style that would come with it.
But either would be fine out of my perspective.

[2017-12-12 18:20] cPhost commented on #131
@apapirovski we do warn in case when PR has `fast-track` label i think @BridgeAR was talking about detecting if PR needs `fast-tracking`

(Correct me if am wrong)

[2017-12-12 18:22] apapirovski commented on #131
In that case there doesn't seem to be much to do with this issue? I think @BridgeAR is just asking for the functionality that was implemented in https://github.com/nodejs/node-core-utils/pull/104/files

[2017-12-12 18:26] BridgeAR commented on #131
What I am asking for is a `error` instead of a `warning`. It is of course trivial to change that but I would really like to enforce using the label.

[2017-12-12 19:24] BridgeAR opened #132 "Detect first contributions"
It would be neat if it would log something on the console that the user is actually a first timer. That way we can write some nice things for the user after landing the commit and closing the PR.

I know that is visible in the PR itself but you have to pay attention to it and as soon as the PR landed, the label will be gone as well. So adding it to the console is probably best.

[2017-12-12 19:50] BridgeAR opened #133 "Detect double `Refs` and `Fixes` entries."
Right now if the tool is used as it the commit message that is generated duplicates `Refs` and `Fixes` entries by amending those blindly. We might come up with a way to remove those - and verify that they are identical with the ones being amended (and if not, it should result in an error).

[2017-12-12 20:13] #27 closed

[2018-01-03 23:25] gibfahn commented on #127
Agreed, having `get-metadata` be forgiving in what it accepts is good, but it should only output the one canonical form.

[2018-01-04 10:28] gibfahn opened #137 "Detect merged/closed PR"
Currently if you run get-metadata on a closed PR, you don't get an obvious indication that it's closed.

[code]

It should probably be made clear that the PR is closed.

[2018-01-04 10:59] tniessen commented on #137
Would a warning suffice or should this be an error?

[2018-01-04 11:07] tniessen commented on #132
Is there an API to check this? The only way I can think of is to query commits by the given author, and assume they are a first-time contributor if no commit with a matching author field exists.

[2018-01-04 11:45] gibfahn commented on #137
I'm not sure, I was thinking that a non-zero exit code would be useful if you were scripting this, but I haven't actually scripted it so I'm not sure...

I was also thinking that maybe it shouldn't generate metadata, but again, there may be use-cases where you actually want to get metadata for closed PRs, so IDK about that either.

Basically IDK, that's why I opened this as an issue, to see what p

[2018-01-04 12:04] joyeecheung commented on #132
The logic is already implemented, we just need to move it to `pr_data.js` and log it out there

https://github.com/nodejs/node-core-utils/blob/master/lib/pr_checker.js#L258-L261

[2018-01-04 12:07] joyeecheung commented on #137
It's hard to tell if it's actually merged given the way we land things, but a warning about the PR being closed is definitely doable.

[2018-01-04 12:08] joyeecheung commented on #137
...oh right, we can potentially do a `git log` and grep for `PR-URL`s.

[2018-01-04 12:11] joyeecheung commented on #133
BTW https://github.com/nodejs/node-core-utils/pull/106/files#diff-806602ca40b9756be13878981c68b536R109 does handle this in case there are already urls present in the commit message without metadata.

[2018-01-04 13:24] gibfahn commented on #137
We can at least tell if it's merged if it's a collaborator's PR (e.g. https://github.com/nodejs/node/pull/17899).

Alternatively maybe look for a landed in comment.

[2018-01-04 15:26] cPhost commented on #137
We can check and tell if PR is closed: landed by collaborator or merged: landed by the collaborator who open a PR.

I was thinking a warning will be suffice since the metadata would be generated and non-zero.

[2018-01-06 12:48] #137 closed

[2018-01-12 17:25] BridgeAR commented on #95
The current version of my script does quite a lot automated already. It will e.g. rebase nicely and stuff like that. In the end it copies a message for the users in the clipboard in a nice way as well.

[2018-01-12 17:25] BridgeAR commented on #95
Note: I have a "weird" setup so most people would have to switch `origin/master` to `upstream/master`.

[2018-01-15 13:30] joyeecheung opened #140 "Add a collaborator's contact to a message by login"
There are cases where one has to add a collaborator manually to the metadata since our heuristics are limited. It's worth adding a command or something that allows the users to add a collaborator there by specifying a login. Maybe something like

[code]

[2018-01-15 13:52] tniessen commented on #140
When's that necessary? Shouldn't reviews be properly resolved using the GH API already?

[2018-01-15 14:29] joyeecheung commented on #140
@tniessen For example when the LGTM is given via emails https://github.com/nodejs/node/pull/18125#issuecomment-357518819 . That can be fixed differently, of course, but I think we will keep bumping into edge cases like this so it's nice to have a command for adding reviewers.

[2018-01-17 18:44] joyeecheung opened #141 "Check that a semver-major PR has at least a CITGM CI run"
Refs: https://github.com/nodejs/node/pull/18210

On a side note, we should check that the latest CI runs should be reasonably fresh (at least not older than a week?)

[2018-01-17 18:53] apapirovski commented on #141
Could we include semver-minor in this? In general, more PRs should get CitGM runs than is currently the case. I've started running it for any change I make that touches internals in a significant way, even if it seems completely harmless. The CitGM job doesn't even take much longer to finish than the main CI.

[2018-01-17 19:10] joyeecheung commented on #141
@apapirovski Well now come to think of it, maybe we should just create a label "citgm-needed"? The rule would be "semvor-major || citgm-needed".

I thought the reason why we don't run CITGM that often was because it's slow or we don't have enough resources (e.g. machines), but that might have changed or was never true... cc @nodejs/build @nodejs/citgm

[2018-01-17 19:12] apapirovski commented on #141
FWIW the last successful CitGM job took 1hr16min within most results being available after the first 30-40 minutes.

[2018-01-17 19:12] joyeecheung opened #142 "git-node-land: when `git am` fails, try again with `git am -3`"
Got a branch working locally but need to write some better hint messages before opening a PR..

[2018-01-17 19:15] joyeecheung commented on #133
It's fixed by the new `git-node` command, although it still does not fix the following case:

[code]

[2018-01-17 19:17] joyeecheung commented on #95
I guess this is fixed now that `git-node-land` has landed.

[2018-01-17 19:17] #95 closed

[2018-01-17 19:25] BridgeAR commented on #133
@joyeecheung that was the case that I meant ^^.

[2018-01-17 19:30] targos commented on #142
Why not always use the -3 option?

[2018-01-17 23:11] gibfahn commented on #141
The biggest issue with CitGM is that it needs triage, modules fail all the time, usually unrelated to node core. There are also lots of modules with flaky tests. I don't think the runs have ever taken much more than an hour.

A week seems reasonable to me, after that the runs get removed from Jenkins anyway, so aren't really trustworthy.

[2018-01-18 00:54] joyeecheung commented on #142
@targos I am not sure either but that's what the [collaborator guide](https://github.com/nodejs/node/blob/master/COLLABORATOR_GUIDE.md#technical-howto) suggests. Maybe a 3-way merge can go wrong more easily?

[2018-01-18 00:56] joyeecheung opened #143 "New tool for analytics on contributor activity"
Refs: https://github.com/nodejs/node/issues/18090

We need

1. A tool that
     - Collects the Github activities of a particular contributor, and a list of contributors
     - Prinst a summary based on the data (..or puts it in a json that's viewable with a custom UI in the browser?)
2. A tool that generates a collaborator nomination based on the contributor's activity

I am working on this, also

[2018-01-18 01:03] srl295 opened #144 "from the doc…"
[code]

* should this be `ncu-config` **set** `upstream your-remote-name` ?
* also, `Error: ENOENT: no such file or directory, open '/Users/srl/src/node/.ncu/config'`

[2018-01-18 01:07] srl295 opened #145 "rimraf is a dev dep"
[code]

looks like `rimraf` is a dev and not a regular dependency

[2018-01-18 01:08] srl295 commented on #145
`cd /usr/local/lib/node_modules/node-core-utils ; npm i rimraf` worked around for now

[2018-01-18 01:31] cPhost commented on #145
@joyeecheung looks like this slipped through the `git-node` PR and now used by `lib/session.js`.

[2018-01-18 01:40] cPhost commented on #145
Made a PR to fix it, thanks @srl295 :)

[2018-01-18 01:54] joyeecheung opened #148 "tests for ncu-config"
There are no tests for the `ncu-config` command at the moment. Related files:

- `bin/ncu-config`
- `lib/file.js`
- `lib/config.js`

[2018-01-18 01:55] #145 closed

[2018-01-18 01:58] joyeecheung opened #149 "git-node-land: automatic correction of commit messages"
Should be behind a prompt, but would be very useful:

1. Wrap commit message bodies
2. Correct system labels (typos, common alias, e.g. `docs` -> `doc`, `tls_wrap` -> `tls`), or even generates one based on files changed
3. Remove duplicate links: see https://github.com/nodejs/node-core-utils/issues/133

[2018-01-18 02:00] joyeecheung commented on #149
Should be done here, need to extract these logic into a separate lib file

https://github.com/nodejs/node-core-utils/blob/c35a1a4e0b796cb9986f3f2a66e50199dfe043d1/lib/landing_session.js#L97-L117

[2018-01-18 13:38] joyeecheung opened #150 "still does not detect some non-author committers"
See https://github.com/nodejs/node/pull/17705

[2018-01-18 14:07] joyeecheung commented on #150
It is kind of weird, the committer and the author actually use the same email, and `authoredByCommitter` is true here, still GitHub UI does not recognize that...

[2018-01-18 14:09] cPhost commented on #150
Ah, it might be because the remove the email in the settings.

[2018-01-18 15:25] joyeecheung commented on #10
git-node-land has landed, closing..

[2018-01-18 15:25] #10 closed

[2018-01-18 15:42] #144 closed

[2018-01-18 18:05] #132 closed

[2018-01-18 22:02] jasnell opened #154 "git node land assumes `upstream`"
The git node land tool assumes that the upstream branch is named `upstream`, which is fine for a default. In my local setup, however, I generally use `nodejs` as the upstream remote for any Node.js repo. It would be fantastic if the tool would accept an option to override the `upstream` default.

[2018-01-18 22:03] jasnell commented on #154
Ha! looks like it's already supported :-) Help if I read the docs lol

[2018-01-18 22:03] #154 closed

[2018-01-19 01:08] cPhost commented on #150
@joyeecheung the reason i think it failes is because of this here
https://github.com/nodejs/node-core-utils/blob/e76076d27173bb018ff52ee8ea2740ffc74bc033/lib/pr_checker.js#L282-L286D

I don't think `email` field exists on `author`. Can you tell me exactly what the purpose was here?

(I do think they have a GitHub email provied by github for this purposes of making email private)

[2018-01-19 03:29] joyeecheung commented on #150
@cPhost That is assigned here

https://github.com/nodejs/node-core-utils/blob/e76076d27173bb018ff52ee8ea2740ffc74bc033/lib/pr_data.js#L84-L86

[2018-01-19 13:56] cPhost commented on #150
That seems correct. And also you can do this to save you some more work.
[code]

[2018-01-22 00:01] #142 closed

[2018-01-23 11:01] vsemozhetbyt opened #156 "get-metadata: missing "Refs:" in metadata section"
For https://github.com/nodejs/node/pull/18310, "Refs:" was omitted in metadata section.

[2018-01-23 11:45] cPhost commented on #156
@vsemozhetbyt can provide more details on this or do you have any clue why that happend?

[2018-01-23 12:03] vsemozhetbyt commented on #156
@cPhost I cannot understand the cause.
Commit message:
[code]
<details>
<summary>get-metadata output:</summary>

[code]
</details><br>
Seems to be a common case, [`REFS_RE`](https://github.com/nodejs/node-core-utils/blob/8e3d831dc5deee9b6e053f5a9f26b30b410cfaa0/lib/links.js#L5) is matched.

[2018-01-23 12:54] cPhost commented on #156
Aren't you suppose to add `Refs: <url>` in for `get-metadata` it to detect it?

[2018-01-23 12:56] gibfahn commented on #156
You can add it in the commit message or the first comment in the issue. Looks like @vsemozhetbyt added it to the commit message.

[2018-01-23 13:50] cPhost commented on #156
Ah yeah, I don't know what i was thinking...

[2018-01-24 16:18] cPhost commented on #156
@joyeecheung it looks this is failing because github is once again using `.issue-link` or something and the url is  not being parsed.

I don't know why this did not came to my mind earlier but we can avoid using jsdom simply by using
`bodyText` field rather than `bodyHTML` field.

[2018-01-24 17:58] joyeecheung commented on #156
@cPhost I think the OP is about the URL in the commit message not being parsed, rather than the body of the PR?

[2018-01-24 18:06] cPhost commented on #156
Yep, found that it, we need to also pass commit msg into `linkParser` and then get refs from one of them. I think

[2018-01-24 18:10] joyeecheung commented on #156
@cPhost In that case it's not a bug caused by `.issue-link`, the jsdom parsing is there to work around text like `Refs: #XXXXX`. We should use something else for commit messages instead.

[2018-01-25 12:51] cPhost commented on #156
@joyeecheung so we can just combine `bodyHTML` and `commitBodyHTML` and just passed to `LinkParse` should fix it.

[2018-01-25 18:34] joyeecheung opened #158 "A new tool to grab the results of Node.js benchmark CI"
See https://gist.github.com/joyeecheung/b55c88ee465d552d7ed1dc34e67305ea for a prototype

[2018-01-27 05:19] joyeecheung opened #160 "new tool: git hooks (pre-push, pre-commit)"
1. Should be a symlink in `.git/hooks/pre-push`
2. Use the remote and branch config that we have, stop users from pushing invalid commits, especially merge commits.

[2018-01-27 05:28] joyeecheung commented on #158
Hmm, also it would be helpful to grab the results of test-pull-request and display the failed cases in one go (ideally that should be the job of Jenkins plugins but there have been some trouble with the resource leak bug of those plugins). See https://ci.nodejs.org/job/node-test-pull-request/api/

[2018-01-27 15:36] cPhost commented on #160
I worked on creating pre-push hook before, we can surely implement it. Alternatively we can also have `pre-commit` that runs linter only if the user wants.

[2018-02-06 18:56] adius opened #163 "wrong indentation: expected 2 but found 1 (indentation)"
Hi,
I used [Feram](https://feram.io) to check your repo
and found the following issue.
I hope it helps!

[code]

[2018-02-06 20:12] joyeecheung commented on #163
Thanks for reporting, although this does not seem to cause any problems since the levels of indentation in YAML are insignificant, so travis does not have much trouble consuming it..do you want to open a PR? @adius

[2018-02-06 21:16] adius commented on #163
Uhm they are very significant 😳
I had to look up if it was supposed to mean

[code]
or

[code]

which are 2 different things

[2018-02-07 02:31] joyeecheung commented on #163
@adius Yes, they are significant in the eyes of humans, but insignificant in the eyes of parsers, as [the YAML spec](http://www.yaml.org/spec/1.2/spec.html#id2777534) writes:

@cPhost I reopened this since it does look different in the eyes of humans.

[2018-02-07 02:33] joyeecheung commented on #163
Oh, sorry, did not saw https://github.com/nodejs/node-core-utils/pull/165 ...I wonder why it didn't show up here as `closed via xxxx`  like before..

[2018-02-07 02:33] #163 closed

[2018-02-07 09:27] adius commented on #163
I didn't mention the merge request number in the commit message, and therefore it didn't connect them

[2018-02-07 11:48] cPhost commented on #163
I also forgot to put the PR url in the description while landing it i could have done when i fixed the commit message, but i did not remember since i just saw the issue them went to PR.

[2018-02-07 23:41] vsemozhetbyt opened #166 "get-metadata: missing 'LGTM' in comments"
PR: https://github.com/nodejs/node/pull/18630

Command: `winpty get-metadata.cmd 18630 --check-comments`

Output:
[code]

Missing: https://github.com/nodejs/node/pull/18630#issuecomment-363920740

[2018-02-08 00:50] cPhost commented on #166
@vsemozhetbyt just want to confirm did the `get-metadata` output had something that said `maclover7 approved via LGTM in comment` or something along those lines? since this is all we do currently and it's not included in generated metadata.

[2018-02-08 00:59] vsemozhetbyt commented on #166
@cPhost
<details>
<summary>Full output:</summary>

[code]
</details><br>

[2018-02-08 01:05] cPhost commented on #166
Ok thanks, this is a bug.

[2018-02-08 05:56] joyeecheung commented on #166
I think we have already discussed about this. This is by design - only comments that contain nothing but LGTM will get a warning, other types of comments don't get anything at all, because there will always be  "something LGTM but I am not the expert in other things", and other types of thing that don't make them legitimate sign-offs.

[2018-02-08 06:00] joyeecheung commented on #166
BTW in those cases, something like https://github.com/nodejs/node-core-utils/issues/140 would be more suitable because without NLP code, humans are better at deciding if a comment with "LGTM" is legitimate sign-off

[2018-02-08 12:37] cPhost commented on #166
Oh, okay it does make sense now, so this is not a bug. I glanced at the PR again quickly to get some idea all i got was we don't include in metadata which i already knew, and something that said `<name>(<username>) approved via LGTM in comment)` 😅.

[2018-02-09 20:54] alopezsanchez opened #169 "ncu-team: list organizations members"
It may be useful to add the possibility to list organizations members instead of only team members.

What do you think?

[2018-02-09 21:13] cPhost commented on #169
I don't think node core would need to list all of the members in node org. + if we think of fetching ~500 people i could take bit longer.

That being said i'd like to hear what other have to say on this.

[2018-02-10 00:35] tniessen commented on #169
I don't think this would benefit anyone, I am not even sure whether being a member of the org implies anything (?).

[2018-02-10 01:17] vsemozhetbyt opened #170 "get-metadata: undetected CI"
PR: https://github.com/nodejs/node/pull/18683

Command: `winpty get-metadata.cmd 18683`

<details>
<summary>Output:</summary>

[code]
</details><br>

[2018-02-10 01:20] cPhost commented on #170
@vsemozhetbyt thank for reporting bugs :), let see if i can see whats wrong in limited time i have.

[2018-02-10 01:43] richardlau commented on #170
Probably because the CI run was https://ci.nodejs.org/job/node-test-commit-light/246/ and `node-test-commit-light` is not in the map https://github.com/nodejs/node-core-utils/blob/a0603173d5647af5ed5272644c90495f5f571c1e/lib/ci.js#L16-L26

[2018-02-10 01:44] cPhost commented on #170
@richardlau yep exactly.

[2018-02-10 02:12] srl295 opened #172 "git-node-land: lease?"
Per the collaborator's guide, I end up with:

this gives the little purple "merged" badge as per https://github.com/nodejs/node/pull/18667 thus not needing to close the PR yourself with "Landed in b8f47b27571f8d763f811f017be3fb37d466c4fc"

could/should the tool suggest this step?

[2018-02-10 02:37] joyeecheung commented on #169
Well...we do have the members team although not every member of the org is in it, but it's close.

[2018-02-10 03:25] devsnek opened #173 "git node land doesn't finalize with single commit"
according to qiuyi when the landing only has a single commit running `--final` shouldn't be needed but twice so far i've observed needing to explicitly run it.

both times were with simple single-commit prs, just ran `git commit land $ID` and hit `y` a bunch of times, then `git push upstream master`

[2018-02-10 14:06] priyankp10 opened #174 "cli tests flake on appveyor"
It seems like we have cli test flake on appveyor ci.
https://ci.appveyor.com/project/joyeecheung/node-core-utils/build/318.master#L192

[2018-02-10 18:01] joyeecheung commented on #174
I thought I fixed that in https://github.com/nodejs/node-core-utils/pull/167 , guess I just got lucky and the test didn't fail...as I said in https://github.com/nodejs/node-core-utils/pull/167 , they are basically testing the behavior of ora - we should at least stub `cli.spinner` instead of depending on how ora manipulates it (although the tests would still be pretty superfluous that way, e.g. te

[2018-02-10 18:59] alopezsanchez commented on #160
Questions:
* This hook will be only for node-core-utils project, it will be a tool for collaborators of all Node.js projects, or a tool for any contributor?
* Language of the script? Bash, Node...?

I can work of it if you don't have any inconveniences.

[2018-02-10 21:54] alopezsanchez commented on #148
I'm on it.

[2018-02-10 22:32] cPhost commented on #174
I think its does make sense to remove code testing ora, which works on windows, and not test our side of functionality provided.

@alopezsanchez would you be up for this, since you wrote the tests?

[2018-02-11 01:14] alopezsanchez commented on #174
Yes, no problem. Let me take a look!

[2018-02-11 09:35] joyeecheung commented on #160
For node core, I think. It's just a script that people can symlink to, we can ask the users if they want to symlink that during the npm `post-install` hook. People can also symlink to other repos if they want.

Well I guess it'll need to read the `.ncu/config` at some point, which is JSON, so it'll be easier to write that in Node

[2018-02-11 16:38] cPhost commented on #160
Yep, agreed that it should be in node. But the symlinked script must be in bash, since windows also supports bash in git hooks.

And furthermore in the `.git/hooks` folder you need to make sure that you remove the `.sample` file for the hook since sometimes this causes the hook to not run.

Lastly, the hook should output info about using `--no-verify` flag to skip this hook.

[2018-02-12 17:52] mcollina opened #177 "bundle core-validate-commit so it does not need to be installed separately"
cc @joyeecheung

[2018-02-12 20:30] targos commented on #177
https://github.com/nodejs/node-core-utils/pull/178

[2018-02-13 16:12] #177 closed

[2018-02-14 16:26] silverwind opened #179 "Support Github credentials in ~/.gitconfig"
Github [advises](https://github.com/blog/180-local-github-config) to store credentials into git's global configuration file and  I think we should support pulling those credentials from there, if present, possible via the [parse-git-config](https://github.com/jonschlinkert/parse-git-config) module.

[2018-02-14 21:16] vsemozhetbyt opened #180 "get-metadata: strange Author info for complicated commits"
PR: https://github.com/nodejs/node/pull/18721

It has a commit with complicated authorship.

Command:  `winpty get-metadata.cmd 18721`
<details>
<summary>Output:</summary>

[code]
</details><br>

Compare these lines:
[code]

[2018-02-14 21:59] cPhost commented on #180
It looks like the user had correct credentials in `git config` before but then they somehow changed them causing this to happen. (This might not necessarily be a bug but an enhancement)

[2018-02-16 16:07] cPhost commented on #179
Seems like something we should support, also just curious how may people who use node-core-utils use it?

[2018-02-16 16:32] joyeecheung commented on #179
Sounds like a good idea, but we should figure out how to get this right with our ghauth integration that creates a token for you when you run it for the first time...

1. User has tokens in `~/.gitconfig` or `.git/gitconfig`: use that and don't care about what permission the token `github.token` has?
2. User does not have tokens in `~/.gitconfig` or `.git/gitconfig`: creates one in the prompt and

[2018-02-16 16:35] joyeecheung commented on #179
Or, the easiest way: we do a major update, simply ignores the token in `~/.ncurc` (or warn the user to delete them?), deletes the `ghauth` code (or provide an alternative tool that allows user to create the tokens while choosing where they want to place it), and only use `~/.gitconfig` -> `.git/gitconfig`

[2018-02-16 16:43] cPhost commented on #179
I think we can do it manually after prompting the user about it. it should just require us to append
[code]
_* the spaces are tabs_

(That should provide better migration over new config)

[2018-02-16 18:39] cPhost commented on #174
Updating ora to `1.4.0` also causes test failures in macos not just windows and they are not flaky so we that might also be use while tracing this.

[2018-02-16 19:46] silverwind commented on #179
I we don't expect more options to be added to `.ncurc` in the future, it might be best to deprecate it with a warning.

I wouldn't write into git configuration files as that can be tricky. For example, I use a `[include]` section to include another file in my gitconfig (the one where I store sensitive information like the GitHub token)

[2018-02-16 19:50] cPhost commented on #179
@silverwind think for the heads up for that, i didn't know you could do that :). Instead of writing to file we can just run the cmds using `child_process` if the user want since the end goal is to provide easier transition.

[2018-02-16 20:41] silverwind commented on #179
Running git commands like `git config --global github.user user` would still write to `~/.gitconfig` (even in the presence of includes) and some people (like me) track this file in public source control, so it'd be obivously dangerous to write credentials into it.

I think the only sensible choice is to print a deprecation warning and let the user handle it.

BTW, here's my setup in case you're in

[2018-02-16 20:47] cPhost commented on #179
@silverwind that's why i said "if the user want since" so you as user can choose what to do :)

[2018-02-16 21:01] silverwind commented on #179
Ah, prompting the user interactively could work of course.

[2018-02-17 16:50] #180 closed

[2018-02-21 15:39] gibfahn commented on #179
Using an `[include]` section is interesting, I hadn't heard of that.

What's the downside to keeping `.ncurc`? I'd assume we're likely to need more config info in there at some point.

The "one token" idea makes sense in some contexts, but I have multiple tokens with different scopes, so I'd rather have them in separate files.

How about using the GitHub one if it's there? If it has the wrong perm

[2018-02-22 05:59] silverwind commented on #179
Good point. We can just transparently add support for using the token in git configuration if it's there. Not sure about the prompting part. I'd expect a user of this tool to be competent to edit some files on their machine, no need for hand-holding.

[2018-02-23 12:59] #150 closed

[2018-02-23 13:31] cPhost commented on #118
We think we now use github's releases to include highlights and changelogs i thinks that good enough when creating new release instead of having to commit a changelog.

So this could be closed right?

[2018-02-23 13:43] joyeecheung commented on #118
SGTM.

BTW I just use

[code]

to generate the list.

[2018-02-23 13:43] #118 closed

[2018-02-23 13:48] cPhost commented on #118
For the last release i edited on github was just for trying it out it did not include any formal changelog :), but now it looks it works..

[2018-02-24 12:45] targos opened #191 "git node land --final doesn't work on Windows"
It cannot find `npx`:

[code]

[2018-02-24 17:10] #191 closed

[2018-02-27 15:41] gibfahn opened #193 "Check DEP00XX and REPLACEME tags for PRs"
See e.g. https://github.com/nodejs/node/pull/18990#discussion_r170592279 , I'm not sure where this is documented, although there is something here:

https://github.com/nodejs/node/blob/61e3e6d56feefcd88f2baeb59c31c327835a8d90/doc/releases.md#step-3-update-any-replaceme-and-dep00xx-tags-in-the-docs

PRs that add new deprecations should have `DEP00XX`, which should be replaced with an actual number

[2018-02-28 01:38] cPhost commented on #193
For, checking if a `DEP00XX` is included in PR we need to make a call to github v3 api. I'd avoid making useless calls so how about we check if deprecation tag is checked if commit msg includes `deprecate` or `deprecation`?

(This is temporary until near future, since github api v4 team is already planning to implement this)

[2018-02-28 03:06] gibfahn commented on #193
If this is done as part of `git-node-land` you should already have the commits on disk right?

[2018-02-28 08:16] joyeecheung commented on #193
I feel like this should be done in the linter somehow? Or a pre-commit git hook. It feels a bit too late to warn about that during landing

[2018-02-28 11:33] cPhost commented on #193
I was thinking this to be done before landing the PR and let the reviewer know that this PR has a dep tag (correct/incorrect update), But if this was to be done locally or pre commit-hook how do we validate the DEP Tag AFAICT it should be only be `DEP00XX`  regardless of the number of DEPS right?

[2018-02-28 12:27] joyeecheung commented on #193
I guess we can grab the diff of a commit with message containing "deprecate"/"deprecation", and look for lines that add `DEP\w+` - if there are no equivalent lines that remove the same code, that means this is a new deprecation, then we can go check if it's `DEP00XX`. Although there are still other things that we need to take care of...like for example we only need to check commits that land on th

[2018-02-28 12:34] gibfahn commented on #193
Which thing specifically? The "replace DEP00XX tags" needs to be done as part of the landing process (at the same time as you modify the commit message to add the metadata), so it can't be done as a lint.

I think it probably makes sense as part of `git node land --amend`.

[2018-02-28 12:43] joyeecheung commented on #193
@gibfahn I see, I thought you were talking about something like "warning against DEP100 code assigned on master branch because it should not be done there", but IIUC you were actually talking about landing commits **on release branches**. I have not used `git node land` on a release branch before but I think it is possible to run some extra stuff there (just need to `ncu-config branch v8.x-staging

[2018-02-28 12:59] joyeecheung opened #194 "New tool: `git node bp` for backporting a PR"
Rough idea:

[code]

[2018-02-28 15:41] gibfahn commented on #194
cc/ @nodejs/lts @nodejs/release

[2018-02-28 15:44] jasnell commented on #194
Nice

[2018-02-28 15:45] gibfahn commented on #194
This is a great idea.

It would be nice if the backport `--to` field could be worked out from the `backport-requested-to-v*.x` labels on the PR.

[2018-02-28 16:04] gibfahn commented on #193
That is what I called the **Complicated** part. Both the **Complicated** and the **Basic** checks need to be done on landing, because the linter can't tell whether it's being run on a commit that has landed on `master`. It should be easy enough to do, just run any checks as part of the `git node land --amend`.

The `REPLACEME` tags need to be done when landing commits on release branches, the `DEP

[2018-03-05 08:08] ryzokuken commented on #130
@BridgeAR @cPhost I'd love to have a shot at this one, I'd just need a little more detail regarding what exactly needs to be done.

[2018-03-05 08:40] ryzokuken opened #195 "Set "main" field in package.json to a more sane value"
In https://github.com/nodejs/node-core-utils/blob/master/package.json#L5, the "main" field has been set to a file that doesn't exist.

When this line was last edited, the working tree was very different (https://github.com/nodejs/node-core-utils/tree/ac457447c6b9c86f7698c784f69def68217f894a) and the value was valid, but it's not valid anymore. There are a few new files in the `bin` folder now and

[2018-03-05 08:46] joyeecheung commented on #195
@ryzokuken Thanks for reporting....I think the `main` field and just be removed? There really isn't much to `require`, at least not for now..

[2018-03-05 08:48] ryzokuken commented on #195
@joyeecheung Sure! I'll make a PR removing it prompty.

[2018-03-05 08:54] joyeecheung commented on #130
I think this has been fixed now? AFAICT, the commands are using `runPromise` to run things and that exits with 1 in `.catch` (which reminded me there seem to be another bug...all the `.catch` attached to `runPromise` or `runAsync` calls will not be called because of that)

[2018-03-05 09:00] ryzokuken commented on #195
@joyeecheung take a look at #196

[2018-03-05 09:03] gibfahn commented on #193
See https://github.com/nodejs/node/pull/18990 for a good example of something with both.

The `DEP00XX` will be replaced on landing by whoever lands the PR on master. The `REPLACEME` will be replaced on backporting by whoever backports the PR to v9.x.

[2018-03-05 09:11] ryzokuken commented on #130
@joyeecheung If you're positive about it, please proceed to close this issue. Also, let me know if you think the redundant `.catch` calls should be removed, and I'll look into it.

[2018-03-05 09:18] ryzokuken commented on #75
@joyeecheung what exactly are we testing for? Let me know if I could help.

[2018-03-05 11:33] #195 closed

[2018-03-05 13:16] joyeecheung commented on #75
@ryzokuken We need to test that PRs with the message `fixes https://github.com/joyeecheung/node-core-utils/issues/123` will still have a line `Fixes: https://github.com/joyeecheung/node-core-utils/issues/123` in the metadata generated by `lib/metadata_gen.js`.

[2018-03-05 13:47] ryzokuken commented on #75
@joyeecheung there's already a file that contains a single test for metadata_gen. Should I add to that file or make another one and name both appropriately?

[2018-03-05 14:50] ryzokuken commented on #75
@joyeecheung take a look at #197

[2018-03-05 15:53] bmeck opened #198 "abort doesn't undo reset"
When you run `git node land --abort` it resets the branch but then does not undo that once it aborts. This can lead to some confusion since it leaves the branch without the commits it included previously. So this can lead to odd looking behavior when you sync your branch back up to github and/or detached HEAD. See https://github.com/nodejs/node/pull/18914#issuecomment-370455755 for example of conf

[2018-03-05 16:28] cPhost commented on #130
This is still not fixed yet, all that needs to be done is, add a `then` to `getMetadata` and if the status if false exit with non-zero exit code.

[2018-03-05 16:45] ryzokuken commented on #130
@cPhost isn't `get-metadata` deprecated?

[2018-03-05 17:08] gibfahn commented on #198
Copy-pasting @joyeecheung 's comment from https://github.com/nodejs/node/pull/18914#issuecomment-370487639:

[2018-03-05 18:25] bmeck commented on #198
this source of my confusion might be addressed in https://github.com/nodejs/node-core-utils/pull/200

[2018-03-05 18:25] #198 closed

[2018-03-05 20:02] #130 closed

[2018-03-07 00:20] cPhost commented on #169
I think the question is answered so this could be closed? Please reopen if required.

[2018-03-07 00:20] #169 closed

[2018-03-07 12:15] #75 closed

[2018-03-07 12:32] targos opened #204 "git node --help does not work"
[code]

Can we do something about it?

`git-node --help` is OK.

Edit: this is on Linux with zsh

[2018-03-07 12:41] joyeecheung commented on #204
Hmm so I think to make it work on Linux, we should set up proper man pages (it works on Mac because the rules on macOS seem to be different).

Refs: https://www.atlassian.com/blog/git/extending-git

[2018-03-07 12:53] joyeecheung commented on #204
General outline

1. Write a man page in `man/git-node.1`
2. Crete a post-install script that moves `man/git-node.1` to the `path.join(process.execPath, '..', '..', 'share', 'man', 'man1')` (or is there a better way to find out the man pages location of the current Node.js intallation?)

question:

1. Should we provide a uninstall command?
2. I am not sure how it works on Windows..

[2018-03-07 14:42] cPhost commented on #204
For generating man pages we can use something like [`cli-manpage`](https://www.npmjs.com/package/cli-manpage#install) and put the command generating it under a `prepublishOnly`so it runs before publishing.

And then use a post-install script to move it if it's the correct platform.

I think so, but maybe not as a command, it should remove itself once the package is uninstalled.

I am not sure abou

[2018-03-07 15:04] richardlau commented on #204
`git help` defaults to html on Windows. `--html-path`. `--man-path` and `--info-path` arguments to [git](https://git-scm.com/docs/git) are where the Git documentation is stored.

[2018-03-07 20:24] gibfahn commented on #204
Doesn't seem to work for me on macOS with the latest npm version of `node-core-utils`, am I doing something wrong?

<img width="725" alt="image" src="https://user-images.githubusercontent.com/15943089/37116126-34ed2922-2245-11e8-8d10-321b363444c3.png">

[code]

[2018-03-07 20:37] gibfahn opened #205 "Running `git node metadata` in nodejs/citgm"
So I thought I'd try to get the metadata for CitGM. Didn't expect it to work out of the box, but I thought I'd raise this to document the issues I hit.

[code]

---

`✖  Couldn't find ### TSC (Technical Steering Committee) in the README`

First issue is reasonably easy to understand, we need to put our collaborators in the README so that `git node metadata` can pick them up.

But why is it looking

[2018-03-07 20:44] gibfahn opened #206 "Handle #issuecomment-371266836 like strings in PR link"
Often when you're going through your notifications, you end up with something on the end of the pull request URL, for example:

[code]

If you run `git node metadata https://github.com/nodejs/node/pull/19201#issuecomment-371266836` it just shows the help text.

It should be easy to adjust the regex to handle anything of the form

[code]

and just capture the three things you need (in `()`).

Also

[2018-03-07 20:45] gibfahn commented on #206
IDK what the difference between `enhancement` and `feature request` is, so I'll ad both :grin:.

[2018-03-08 01:46] cPhost commented on #206
I added descriptions to some labels (including enhancements, and feature request), I might not be the best person to add those so maybe some else can add some descriptions :)

[2018-03-09 14:30] gibfahn commented on #206
Just to add, it looks like you can't currently do `git node land https://github.com/nodejs/node/pull/19130`.

[2018-03-09 14:37] gibfahn opened #209 "Suggest updating config if upstream remote not found"
Currently if you have an upstream remote not called `upstream`, and you choose to try to update from the remote branch, then `git-node` just errors out.

It should be possible to detect that the specified remote isn't defined in this directory, have the user choose their upstream name, and then run `ncu-config set upstream <chosen name>` for them before continuing.

[code]

[2018-03-09 15:07] gibfahn opened #210 "ncu-config updates wrong config file if $XDG_CONFIG_HOME set"
`ncu-config set --global foo bar` should update `$XDG_CONFIG_HOME/ncurc` rather than `$XDG_CONFIG_HOME/.ncurc`.

[code]

[2018-03-09 15:15] cPhost commented on #206
Can you open a new issue for this? I totally missed it.

[2018-03-09 15:38] gibfahn opened #211 "Automatically copy relevant text into user's clipboard"
When running commands, eg:

[code]

it should be possible to copy the `Landed in ...` to the clipboard, so the user can just change to browser and directly paste it in.

Not sure if possible on Windows, but on mac it's `pbcopy`, and on Linux it's normally `xclip -selection clipboard`.

[2018-03-09 15:43] cPhost opened #212 "get-metadata outputs errors it shouldn't due to "exit no-zero on failure" feature"
It looks because of PR #199, we output errors that should be logged out in case PR checks fails.

<details>
<summary><code>git node metadata 19201</code></summary>
<pre><code>
✔  Done loading data for nodejs/node/pull/19201
----------------------------------- PR info ------------------------------------
Title      deps: update V8 to 6.6 (#19201)
Author     Michaël Zasso <targos@protonmail.com> (@t

[2018-03-09 16:14] gibfahn opened #213 "Allow git node land with full PR urls"
https://github.com/nodejs/node-core-utils/issues/206#issuecomment-371827740

@cPhost

[2018-03-09 16:43] targos commented on #211
On Windows, you can pipe the output to `clip`

[2018-03-09 17:22] gibfahn opened #214 "Recognise links to node-test-commit-lite"
I tend to leave links to [node-test-commit](https://ci.nodejs.org/job/node-test-commit/) and [node-test-commit-lite](https://ci.nodejs.org/job/node-test-commit-lite/) rather than the `pull-request` equivalents, because that way it's one less click to get to the sub-job list.

However it seems that `git node land` doesn't pick up the URL:

[code]

![image](https://user-images.githubusercontent.com/

[2018-03-09 17:44] richardlau commented on #214
@gibfahn https://github.com/nodejs/node-core-utils/pull/171

[2018-03-09 17:49] richardlau commented on #214
Also this is a duplicate of https://github.com/nodejs/node-core-utils/issues/170

[2018-03-09 17:49] cPhost commented on #214
This is a duplicate of #170, closing this in favor of #170.

[2018-03-09 17:50] #214 closed

[2018-03-09 17:51] cPhost commented on #214
@richardlau got me by seconds 😀.

[2018-03-09 23:37] cPhost commented on #210
@gibfahn this is due to the way you implemented `$XDG_CONFIG_HOME/ncurc` in #136.

Questions should `$XDG_CONFIG_HOME/ncurc` be made consistent with `.ncurc` and add `.` to it, or just fix the function in `config.js`?

[2018-03-10 11:18] targos opened #215 "Weird weekend detection"
`git node metadata 19203`

[code]

[2018-03-10 12:48] targos opened #216 "git node land generated wrong commit range"
When I landed https://github.com/nodejs/node/pull/19203, the generated message was `Landed in 7314b17...0eec073`.
It goes one commit too far and includes a commit that was already on master:
![image](https://user-images.githubusercontent.com/2352663/37242433-beebeb1a-2469-11e8-84d0-62bc29ea0393.png)

[2018-03-10 18:20] gibfahn commented on #210
I'd vote for the latter. Using non-hidden files in `$XDG_CONFIG_HOME` is the standard thing to do.

Also currently I think the logic here:

https://github.com/nodejs/node-core-utils/blob/8184d92f69b5713e6cce94fd13fe7eb8f9434f39/lib/config.js#L19-L22

duplicates the logic here:

https://github.com/nodejs/node-core-utils/blob/8184d92f69b5713e6cce94fd13fe7eb8f9434f39/lib/auth.js#L22-L29

So I'd have

[2018-03-11 00:15] #170 closed

[2018-03-11 00:26] cPhost commented on #210
ok, cool the issue will be fixed by making it hidden. We can later do a pass for refactoring.

[2018-03-11 19:34] gibfahn commented on #210
Just to be super-clear (I wasn't in my previous comment), I do not think we should change the path to `$XDG_CONFIG_HOME/.ncurc`, we should keep it as `$XDG_CONFIG_HOME/ncurc` and use that in `config.js` as well.

[2018-03-11 20:15] cPhost commented on #210
Oh, okay that is what I wanted to know.

[2018-03-12 16:46] #206 closed

[2018-03-15 18:18] #216 closed

[2018-03-16 11:14] aks- commented on #213
@gibfahn can you please assign it to me? I'll take a look in free time

[2018-03-16 19:01] GithubGoldMiner commented on #215
Hi, @targos I think it is actually caused by this line:
https://github.com/nodejs/node-core-utils/blob/b94a6086b9452776c8d38053cd64f7d781cc3d43/lib/pr_checker.js#L134

In stead of using `utcDay`, we should use `createTime` to show whether that PR was created during weekends.

@cPhost I can create a PR to fix this bug if you want. I think the test cases also failed.

[2018-03-16 19:02] cPhost commented on #215
@GithubGoldMiner go for it :)

[2018-03-17 16:43] GithubGoldMiner commented on #212
Hi @cPhost @joyeecheung , I have a quick question here (I apologize if this is a silly question). In your log when you run `git node metadata 19201`, is it suppose to print out the trace like this:
[code]
Is this a feature or an issue?

For the `TypeError` you got after you run `git-node metadata`, it seems that it is not reproducible on my end. Do you have any insight about it?

Thank you for ans

[2018-03-21 00:10] #210 closed

[2018-03-21 16:01] #215 closed

[2018-03-23 15:11] #213 closed

[2018-03-31 19:39] #212 closed

[2018-04-01 13:34] vsemozhetbyt opened #225 ""No full CI runs" warning"
Not sure if this is intended, but since the last update this warning appears even for PR warrantable for CI-lite:
https://github.com/nodejs/node/pull/19721
[code]

[2018-04-02 12:23] cPhost commented on #225
Here is the code that we need to fix, need to add Lite category in the check as well:

https://github.com/nodejs/node-core-utils/blob/8c6f7cc7e30f98fa0322a20c29ce83548650b9d9/lib/pr_checker.js#L206-L209

I think it's okay to add LITE category as trusted and not change the status right?

[2018-04-02 17:18] joyeecheung commented on #225
SGTM

[2018-04-03 12:41] #225 closed

[2018-04-03 15:58] targos opened #227 "No more defaults for `git node land`?"
I had to manually set the branch to `master` and the remote to `upstream`.

[code]

[2018-04-03 18:09] mmarchini commented on #227
Defaults were removed on https://github.com/nodejs/node-core-utils/pull/200.

[2018-04-03 22:40] joyeecheung commented on #227
Yes, that was to avoid mistakes of running it in a PR branch

[2018-04-06 07:48] joyeecheung commented on #227
This is by designed now. Do you want to keep this issue open? @targos

[2018-04-06 07:49] joyeecheung commented on #227
Also background: https://github.com/nodejs/node/pull/18914 and https://github.com/nodejs/node-core-utils/issues/198

[2018-04-06 07:51] joyeecheung opened #228 "git-node: `git node status`"
- Similar to `git status`
- The status of `git-node land` should be in `.ncu/land` already. We just need to display it properly.

[2018-04-06 07:51] targos commented on #227
I don't really understand why it has to be like that but OK, no problem.

[2018-04-06 07:51] #227 closed

[2018-04-06 07:55] targos opened #229 "git-node: `git node land --rebase`"
`git node land --rebase`: `git rebase -i --autosquash $UPSTREAM/$BRANCH` and automatically adds "edit" to the lines.
`git node land --continue` (during rebase): `git rebase --continue` (currently it tries to do a final run)

[2018-04-06 08:01] joyeecheung opened #230 "git-node: `git node bisect`"
https://twitter.com/targos89/status/982158028878196736

Outline:

- `git node bisect --from 20180101 [--to 201810406] /path/to/test.js`
- Detect the right arch, then download correct binaries from https://nodejs.org/download/nightly/ , decompress it, run the test with `bin/node`, bisect until it finds two consecutive nightlies where the exit code of the test becomes different
- Grab the sha from t

[2018-04-06 08:03] joyeecheung commented on #230
cc @targos

[2018-04-06 08:06] joyeecheung commented on #230
Also we can be more generic about the mirror: e.g. allow other variants like https://nodejs.org/download/v8-canary/ and support mirrors like https://cnpmjs.org/mirrors/node-nightly/ (this one is much faster if you are in China)

[2018-04-06 08:13] joyeecheung commented on #230
Also we may be more flexible about the command being run...for instance, if the test case must involve an addon, it should allow the user to specify the `--node-dir` or run whatever they need (e.g. some configuration command run during `preinstall`) to get the test case ready.

[2018-04-06 13:53] GithubGoldMiner commented on #228
Hi @joyeecheung, I can try to create a PR for this :)

[2018-04-08 14:02] vsemozhetbyt opened #233 "get-metadata: false-positive 'Fixes:'"
PR: https://github.com/nodejs/node/pull/19832
[code]
Maybe we should check if these lines do have an URL.

[2018-04-09 10:32] BridgeAR commented on #194
I suggest to accept both input types:

1. Always add individual commit IDs
2. Add a range and check all commits in the range for not being semver-major and add one after the other of the non-semver-major commits in.

Especially the second version would allow for mass backporting in a easy fashion.

[2018-04-13 08:48] devsnek opened #234 "merge update-v8 into ncu"
it would be cool if the `update-v8` package was merged into ncu, would probably make more sense there /cc @targos

[2018-04-13 08:57] targos commented on #234
I'd be happy to move the code over to this repo.

[2018-04-19 06:56] #234 closed

[2018-04-19 06:59] targos opened #238 "git-node v8: allow explicitly specifying directory of existing v8 clone"
Moving from https://github.com/targos/update-v8/issues/12

@devsnek said:

[2018-04-20 15:48] mmarchini opened #241 "git-node v8 [major | minor | backport] not doing anything"
`git node v8` is not doing anything. I tried:

[code]

Am I doing something wrong? I just installed ncu with `npm install -g https://github.com/nodejs/node-core-utils`, Node.js version is v8.11.1 and other ncu commands are working fine.

[2018-04-20 16:08] targos commented on #241
Fix is in https://github.com/nodejs/node-core-utils/pull/240

[2018-05-01 22:08] mmarchini commented on #230
This would be useful to help find which V8 commit broke llnode (I just did a "manual bisect" with nvm and v8-canary nightlies while trying to find what broke llnode on V8 6.4, and it was really painful 😞).

I can work on it this weekend. Any suggestions on how to set the mirror and how to have a custom command? Maybe `--mirror=nightly|v8-canary|url` (`nightly` by default) and `--script=/path/to/sc

[2018-05-02 02:28] joyeecheung commented on #230
@mmarchini `--mirror`/`--script`/`--command` SGTM. It would be nice to support them (at least `mirror`, probably makes less sense for `--script`/`--command`) in `ncu-config` so there is no need to type those things out every time the tool is used

[2018-05-04 23:16] jvelezpo opened #245 "remove eu-strip from node tarball"
nodejs 10.0.0 tarball contains `deps/v8/third_party/eu-strip/`
and it was removed on this PR https://github.com/nodejs/node/pull/20304

now we need  to stop it coming back the next time V8 is updated. I have been trying to do this but i havent been able to do it, if anyone can help me figure it out how to do it, or if anyone wants to send a PR it will be awesome as well.

[2018-05-04 23:26] priyankp10 commented on #245
@jvelezpo this is already implemented in #243, so if you use `git node v8` to update this should be taken care of next time.

[2018-05-04 23:28] priyankp10 commented on #245
Closing issue, since it's something already done.

[2018-05-04 23:28] #245 closed

[2018-05-04 23:28] jvelezpo commented on #245
@priyankp10 thanks

[2018-06-07 14:26] joyeecheung opened #251 "ncu-ci: cross compare with the previous CI run for testing CIs"
For example, if https://ci.nodejs.org/job/node-test-commit/19053 failed, check the failures against the results of https://ci.nodejs.org/job/node-test-commit/19052. If the previous run is for another unrelated PR (e.g. touches different files) and there are similar failures (same highlighted line), then this is almost certainly a flake and can be shown in the output of ncu-ci. This is the easiest

[2018-06-12 13:09] joyeecheung opened #252 "git-node: `git node open` to create a new PR/open existing PR"
Basically what `git cl upload` and `git cl web` does for chromium/v8, but in one command.

Rough sketch:

1. Make sure the user is not on master, proposal, release or staging branches
2. Create a remote branch in the users' fork (might need to `ncu-config` that remote) if there isn't one
3. Push to that remote branch (note that this results in an actual push, we may not want to do that in ncu and

[2018-06-12 13:11] devsnek commented on #252
maybe `git node pr open` just for ambiguity?

[2018-06-12 13:17] joyeecheung commented on #252
@devsnek Good idea. We can add `git node pr set <url>` or `git node pr get` that basically does what `git cl issue` does.

[2018-06-12 13:20] joyeecheung commented on #252
We should also consider https://github.com/nodejs/node-core-utils/issues/194 to make sure the commands are somewhat intuitive.

[2018-06-12 13:21] joyeecheung commented on #252
About triggering the CI: maybe it's better if we split that into a separate command

[2018-06-19 15:00] joyeecheung opened #257 "ncu-ci: authenticate before accessing jenkins"
`ncu-ci` is now broken because we stopped all unauthenticated access to ci.nodejs.org now. We should:

1. Add a `jenkins_token` to the config
2. Use that token to authenticate requests to jenkins
3. Add docs on how to create the jenkins token

[2018-06-20 18:52] mmarchini opened #258 "Improve documentation for ncu-config"
Documentation for `ncu-config` don't show possible configs. For example, to use ncu on other Org. repositories you need to:

[code]

[2018-06-21 10:28] joyeecheung opened #259 "git-node: count jenkins pipeline and/or Travis as effective CI runs"
Refs: https://github.com/nodejs/github-bot/pull/178 that runs the jenkins pipeline for collaborator PRs. The bot currently comments on the PR with a link to the job after the build is started.
Refs: https://github.com/nodejs/node/pull/21059 which runs the Travis CI for non-collabortor PRs. The existence of the job can only be tracked in the Github status API or via Travis API.

Both of them only s

[2018-06-21 10:31] joyeecheung commented on #259
This is how the pipeline link looks: https://github.com/nodejs/node/pull/21430#issuecomment-398910078

[2018-06-21 17:28] #257 closed

[2018-07-04 23:43] joyeecheung commented on #174
We have removed tests against the spinner so this can be closed.

[2018-07-04 23:43] #174 closed

[2018-07-04 23:44] joyeecheung commented on #158
ncu-ci has already landed so this can be closed.

[2018-07-04 23:44] #158 closed

[2018-07-04 23:48] joyeecheung commented on #173
@devsnek Have you seen the issue again? Where did `git-node` stop when you encounter the issue, did it stop after validating the final commit? Without a repro it won't be very actionable at this point.

[2018-07-04 23:51] joyeecheung commented on #3
I think most items are implemented other than:

We do not warn on `[Squash]` but prompt to run `--autosquash` if an autosquashable commit (with `fixup!` or `squash!`) is present.

[2018-07-04 23:59] devsnek commented on #173
@joyeecheung I'll let you know after I land another pr

[2018-07-05 21:53] devsnek commented on #173
@joyeecheung

![](https://gc.gy/礪.png)

and

[code]

[2018-07-05 22:00] devsnek commented on #173
landing 21644 had a last option `? Clean up generated temporary files? [Y/n]` which seems to have done what it was supposed to, i didn't need to run --final with it

[2018-07-06 01:54] joyeecheung commented on #173
@devsnek I am not sure what the issue is...have you landed 21518 without cleaning up the temporary files?

[2018-07-06 01:57] devsnek commented on #173
@joyeecheung it was just the last pr i landed, and it didn't clean up, but 21644 cleaned up so i assume this is fixed now

[2018-07-06 06:38] joyeecheung commented on #173
@devsnek Good to know, I'll close this one for now. If you see this happen again please reopen or open a new issue, thanks

[2018-07-06 06:38] #173 closed

[2018-07-10 12:11] mmarchini commented on #230
It would also be interesting to bisect Node.js versions:

`git node bisect --from v7.0.0 --to v8.0.0 /path/to/test.js`

[2018-07-10 13:57] watson commented on #230
In case anybody is interested, I've created this script that essentially does the same: https://gist.github.com/watson/493f359315e7542ddcad37b3408b9f5e

[2018-07-16 09:05] targos commented on #97
In addition of the verification, `git node land` could even automatically increment the embedder version if needed.

[2018-07-16 09:31] joyeecheung commented on #97
@targos The easiest way to get this done is to operate on a per-PR basis i.e. do not mix V8 update commits in normal PRs otherwise it's hard to get the squashing right

[2018-07-16 09:35] joyeecheung commented on #97
Also it might be easier if we just take the original commit id and generate the commit message, then compare it against the current one, given that V8 commits are very well-formatted.

[2018-07-16 10:32] targos commented on #97
@joyeecheung

Perhaps we need a formal policy around that but the rules should be IMO:
- Commits that touch deps/v8 should not touch other directories
- Commits that touch deps/v8 must increment the embedder string (unless it's a V8 update, and in that case, v8_version.h is changed instead)

With those rules, we can't get the squashing wrong, I think.

I agree that it would be ideal to always chan

[2018-07-16 11:54] joyeecheung commented on #97
@targos It's always hard to get the squashing right if it's not "squash everything to one commit", the user must explicitly tell the tool which commit they want to keep and because the nature of squashing using the sha is not very reliable. Things are more complicated if we try to be clever and make guesses so it's just easier to keep it dumb and simple.

[2018-07-16 12:03] joyeecheung commented on #97
By the way I think we can work around the 48h wait if the PR are submitted separately but reviewed together? I tend to submit multiple PRs where one depends on another if I think it makes sense for commit A, B to be reviewed together but they don't really need to be landed together because one needs more discussion than the other.

[2018-07-16 15:57] devsnek opened #264 "color prs purple"
from the collab guide:

[code]

[2018-07-31 05:34] vsemozhetbyt commented on #259
CI-lite detection is also broken now. Refs: https://github.com/nodejs/node/pull/21938

[2018-08-06 08:26] ChALkeR opened #267 "git-node does not include reviews from other teams"
E.g. at https://github.com/nodejs/node/pull/21914, @nodejs/security-wg was cc-d, @SomeoneWeird (a member of @nodejs/security-wg) reviewed the change, but on landing with `node-core-utils` that review was not mentioned in the commit message.

@nodejs/tsc — btw, is there any good reason to not mention all the reviews from org members? Or just all the reviews from all the GitHub users?

I suppose tha

[2018-08-06 08:32] ChALkeR opened #268 "$XDG_CONFIG_HOME should default to ~/.config"
Ref: https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

Atm, that does not work — my `XDG_CONFIG_HOME` is not overriden (i.e. is unset), I have a config at `~/.config/ncurc`, and `git-node` still complains.

[2018-08-06 08:49] mcollina commented on #267
I think because @SomeoneWeird is not a Node core collaborator. We should probably include reviews from all people in the org.

I’ve probably used an oldish version as well.

[2018-08-06 09:12] joyeecheung commented on #267
Only collaborators in the README are included in the `Reviewed-By` field - because we only have those people's names and emails. It is possible to query names and emails from people's GitHub profile, but that does not always work as a lot of people simply don't put that in their profile.

[2018-08-06 09:19] ChALkeR commented on #268
`require('os').homedir()` aready follows `$HOME`, so the config location should set to `${require('os').homedir()}/.config` if `process.env.XDG_CONFIG_HOME` is not set or is empty.

[2018-08-06 09:51] targos commented on #267
This is probably something we need to discuss in the core repo or with the TSC first. One of the privileges of the collaborators is to sign off the reviews and we nominated them because we trust them for their reviews. While it's good to have external input, I'm not sure we want to consider it the same as if it was from a collaborator.

[2018-08-06 09:55] SomeoneWeird commented on #267
I agree, while not being an official core collaborator, it was more of a +1 on behalf of the security-wg who was pinged on the issue.

[2018-08-06 10:34] ChALkeR commented on #267
@targos Yes, only collaborators could sign off the PR so that it could be landed, i.e. PRs can't land with out being reviewed by collaborators. I do not propose to change that. ncu should still require collaborator review before landing.

The thing that I am talking about is that reviewes by non-collaborators are not mentioned at all, but I think that they should be.

[2018-08-06 10:45] joyeecheung commented on #267
@ChALkeR I personally see the `Reviewed-By` field more about accountability instead of attribution, though. But in the end if someone wants to thank non-collaborators for their reviews, they can always just say so in the commit message (via a `Reviewed-By` field or not, I'd prefer not using that field though), but it seems a bit out of scope for ncu.

Also for PRs that receive more traction than u

[2018-09-04 12:45] targos opened #277 "Wrong state after fixing `git am` conflict"
I was trying to land https://github.com/nodejs/node/pull/21992 which had a small conflict to fix.

So I ran:
[code]

At this point, it tries to re-download and apply the patch.

[2018-09-07 04:02] joyeecheung commented on #277
Are you using master or the npm release? It may be fixed by https://github.com/nodejs/node-core-utils/commit/34664c0a1ac4f5930b804a1bf9960585f2a74e99

[2018-09-07 04:48] targos commented on #277
The npm release. I didn't realize it was so for behind, sorry.

[2018-09-07 07:27] joyeecheung commented on #277
No worries, I'll publish a new release

[2018-09-07 17:32] targos commented on #277
Thank you! Since it's not common to land PRs which still have conflicts, I'll close this as likely fixed.

[2018-09-07 17:32] #277 closed

[2018-09-22 16:26] targos opened #279 "git-node land: author does not have correct git config?"
not sure what's wrong with this one:

[code]

[2018-09-22 16:51] priyankp10 commented on #279
It's due to the https://github.com/nodejs/node/pull/22754/commits/58a2932064f752ad36185c392cf4ae698d1991ab commit; the author didn't configure their name and email using `git config`.

(I think we should come up with good descriptive title for this!)

[2018-09-22 23:05] joyeecheung commented on #279
This seems more like warning, not an error to me..

[2018-09-22 23:40] #279 closed

[2018-10-02 23:43] trivikr opened #283 "When squashing commits node-core-utils should fail if subsystem prefix is missing"
Hi,

I faced this issue while landing commit https://github.com/nodejs/node/commit/a82ac6eedf925b8922ca2e577d0364a62dea5ad7

Creating quick issue for follow-up, will add details later.
Summary: When there are multiple commits to land and node-core-utils suggests squashing, it doesn't fail if subsystem prefix (and probably other requirements) is missing.

I'll reproduce the steps and add details la

[2018-10-02 23:47] joyeecheung commented on #283
It will fail when you run `git node land --final` though (that's when `core-validate-commit` gets invoked). Have you run that? Or just run `git node land --continue` until it invokes the validations?

[2018-10-03 00:07] trivikr commented on #283
I don't think I ran `git node land --final` before landing.
I'd just run the command which was suggested for squashing commits. I remember it as I didn't have to manually replace `pick` to `f` as I'd to do in the past.

The validation should be done after the squashing happens, either the user:
* doesn't have to run third command `git node land --final`
* or `git node land --final` runs automatica

[2018-10-03 05:58] trivikr commented on #283
Tested with landing fake change https://github.com/nodejs/node/pull/23235, and noticed that `git node land --final` does catch issues with commit as @joyeecheung mentioned in her comment

Outputs while trying to land:

<details><summary>$ git node land 23235</summary>
<p>

[code]

</p>
</details>

<details><summary>$ git rebase upstream/master -i -x "git node land --amend"</summary>
<p>

[code]

<

[2018-10-03 06:01] trivikr commented on #283
Is there a way to inform the remind the collaborator to run `git node land --final` after `git rebase --continue` is done?

If not, can we add the reminder at the end of the output of first command `git node land <PR-ID>` just after:
[code]

For example:
[code]

[2018-10-03 08:48] joyeecheung commented on #283
Adding another hint is a good idea!

(I was thinking if there is a command that adds `git node land --final` to the end of the sequence but not sure if there is a flag to `git rebase` for that)

[2018-10-03 08:52] joyeecheung commented on #283
(Also, probably a good time to record another demo again..)

[2018-10-03 10:10] joyeecheung opened #284 "Implement `require two approvals to land changes`"
Refs: https://github.com/nodejs/node/pull/22255

[2018-10-03 12:10] mmarchini commented on #283
Maybe we can use git hooks (i.e., the [post-rewrite hook](https://git-scm.com/docs/githooks#_post_rewrite))? I never used them, so I'm not sure if that would work.

[2018-10-14 22:11] joyeecheung opened #291 "doc: clarify how to set up local config before using git-node"
I got reminded that this example in https://github.com/nodejs/node-core-utils/blob/master/docs/git-node.md#prerequistes:

[code]

is not clear enough and it wasted time for a few collaborators to figure out that the last argument (`value`) should be a name of the git remote, and `upstream` is the key name.

(Also probably only me will see it but if anyone is confused by the docs again, please send

[2018-10-14 22:15] joyeecheung commented on #291
One way to clarify:

[code]

[2018-10-14 22:17] targos commented on #291
I wondered a few times why we actually need to configure this. Can't we use the current branch and get the upstream name from the local git config?

[2018-10-15 18:35] sam-github opened #293 "Not sure what `git node land --final` is supposed to do"
I just landed a PR with `git node land`, then did what it said (push to upstream, and add "Landed in ..." comment).

Then reading the docs I saw there was a `--final`. I called it to see what it does, but it doesn't want to do anything, and has a misleading warning message:

[code]

No am in progress, but right after I see:

[code]

Whatever is triggering that warning seems to be confused.

And I

[2018-10-16 01:36] joyeecheung commented on #293
I am not sure what to do from here...would checking if the commit has already been pushed to the upstream before printing

help? I guess in that case we could just go ahead and finish the cleanup.

That's what it's for, yes. `--final` basically just validates the commit messages for commit(s) that are not in the upstream yet, and clean up the temporary files if necessary. Code is in https://github

[2018-10-24 15:35] srl295 commented on #172
I realized the tool doesn't `a priori` know which my branch is. But, it could find it from github metadata on the PR.

[2018-11-09 14:27] hashseed opened #303 "`git node v8 backport` aborts on merge conflict"
`git node v8 backport` attempts at some point to do a `git apply -3`, which fails often. The `-3` doesn't help since Node's copy of V8 doesn't have a git history.

How about not aborting, but wait for the user to fix the conflicts and `git add` the fixes and then continue?

[2018-11-09 14:28] targos commented on #303
+1000 if you know how to do that! I was not able to get conflict markers with `git apply` when I developed the command.

[2018-11-09 16:40] joyeecheung commented on #303
I think the thing to implement is more like to have a way to persist the failure and then be able to restart from here once the user fixes the conflict?

https://github.com/nodejs/node-core-utils/blob/092cbe5d997eb565e967eed5d9f44beb0f958dde/lib/update-v8/backport.js#L12

`git node land` is able to do that by persisting states to `.ncu/land` and always reading this file to understand the previous

[2018-11-09 17:05] targos commented on #303
The real problem is that there is no conflict to fix. The patch fails and that's all. No files are modified

[2018-11-09 17:39] joyeecheung commented on #303
@targos One way to tackle that is to use `git apply --reject`, and prompt the user to use [wiggle](https://linux.die.net/man/1/wiggle) on the `.rej` files, though that cannot guarantee to work either (I guess it's better than outright failure?) Then when the conflicts are fixed, read some persisted state from disk to bake the commit message and so on.

[2018-11-13 14:42] hashseed commented on #303
I made an attempt to solve this: use `patch -p1 --merge --no-backup-if-mismatch` so that we get conflict markers in the files, and then prompt the user to continue once conflicts are resolved.

[2018-11-16 19:05] refack opened #308 "FR: check CI job result"
I was about to suggest that if the PR is labeled `V8 Engine` we should check for a V8 CI job, but I just saw that we already do 😄 :
[code]

So how about we query Jenkins for it's status?

[2018-11-17 02:18] joyeecheung commented on #308
So..the code for querying Jenkins and parsing the results are already part of ncu-ci, I guess we just need some glue to invoke them from git-node..

[2018-11-17 03:58] refack commented on #308
I'll try to draft something this weekend.

[2018-11-20 16:20] targos opened #309 "New release?"
Can we have a new release on npm?

I would like the new things in `git-node v8` command to be available :)

@joyeecheung

[2018-11-20 18:04] refack commented on #309
What? You don't run off the git clone 😉

[2018-11-20 21:30] targos commented on #309
"do what you gotta do" :)

[2018-11-22 07:39] joyeecheung opened #311 "Why do we need package-lock.json?"
package-lock.json is not published, and we are a CLI, so whoever installs this package via npm are not going to use it, the only use case seems to be for people who `git clone & npm link` but I don't think the file is necessary for that use case?

[2018-11-22 07:41] joyeecheung commented on #311
cc @targos

[2018-11-22 07:44] joyeecheung commented on #309
@targos Done. Do you want npm collaborator access?

[2018-11-22 07:52] targos opened #313 "Do we still need the appveyor config?"
- We have Travis
- The badge reports errors
- The link errors: Project not found or access denied.

[2018-11-22 07:57] targos commented on #309
@joyeecheung

I'd be glad to have it, thanks

[2018-11-22 08:09] joyeecheung commented on #313
appveyor is supposed to test Windows, but I think we can probably try out the new Windows support of travis: https://blog.travis-ci.com/2018-10-11-windows-early-release

[2018-11-22 08:09] #311 closed

[2018-11-28 12:38] rvagg opened #317 "Ammended commit message, then got lost"
So I did a `git node land` and got to a point where I needed to edit the commit message (I had `Ref:` lines in there already but it had found and inserted the same lines so I had two of all of them). It dropped me out and gave me the instructions about editing a file and `git am` to get it in .. but then what? It didn't tell me anything beyond this. I'm new to this tool and have since found `-c`,

[2018-11-28 12:44] priyank-p commented on #317
I am not entirely sure but reading the [git-node docs](https://github.com/nodejs/node-core-utils/blob/master/docs/git-node.md) and specifically the [demo section](https://github.com/nodejs/node-core-utils/blob/master/docs/git-node.md#demo--usage) in the docs should help you out.

[2018-11-28 12:51] targos commented on #317
/cc @joyeecheung

[2018-11-28 13:39] joyeecheung commented on #317
Usually I will just `git node land --continue` and it will know what to do.

I think https://github.com/nodejs/node-core-utils/pull/285 would improve this but it's somewhat stalled

[2018-11-29 16:14] mcollina opened #318 "error when core-validate-commit is installed globally"
[code]

[2018-12-02 21:17] joyeecheung commented on #309
I've added @targos to the npm collaborators.

[2018-12-02 21:17] #309 closed

[2018-12-03 22:47] joyeecheung commented on #284
Fixed by https://github.com/nodejs/node-core-utils/pull/290

[2018-12-03 22:47] #284 closed

[2018-12-04 04:58] BeniCheni commented on #229
Hello, tried #320 for this issue. Looking forward to your feedback.

[2018-12-04 09:43] joyeecheung opened #321 "Implement `git node wpt --scaffold <id>`"
Which should implement https://github.com/nodejs/node/tree/master/test/wpt#how-to-add-tests-for-a-new-module for a given module with `id`

[2018-12-04 09:43] joyeecheung commented on #321
(or maybe `--add`)

[2019-02-07 01:22] joyeecheung opened #324 "git-node: detect CI status also from the GitHub API"
Currently it only parses the thread and looks for CI links pasted manually, but it can also just query the GitHub API for the status of the last commit in the PR in case someone forgets to paste the link.

We cannot replace the link parsing entirely with this though because the github bot does not always update the CI status reliably. If the node-test-commit status of the last commit is not green

[2019-02-07 17:38] sam-github commented on #324
I think @richardlau made a good point in https://github.com/nodejs/node/pull/25861#issuecomment-461256551 that having `ci: ` is good for after the fact observation.

The suggestion I would make for `git node land` is that when it says no CI detected, it mention specifically that it is looking for a `ci:` comment. You could print a message saying "ci passed, but not comment, please add `ci: ...` as

[2019-03-22 16:57] #259 closed

[2019-04-15 17:53] cclauss opened #333 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-26 15:17] srl295 opened #338 "git-node: err in CI date math"
node-core-utils@1.16.1

My PR: https://github.com/nodejs/node/pull/27370

[code]

but I kept getting:

debugging i see:

so the 'lastCI' is the lite one on the 23rd, not the full on the 24th  1 hour after the fact.

===Found it===

I think this is the bug, `pr_checker.js:199`

[code]

this will only replace a CI if it is *newer* we have

[code]

[2019-04-26 15:19] richardlau commented on #338
This was fixed in https://github.com/nodejs/node-core-utils/pull/334 but we haven't had a release containing it.

[2019-04-26 15:19] srl295 commented on #338
oops dup of #334

[2019-04-26 15:19] #338 closed

[2019-04-26 15:19] srl295 commented on #338
duplicate comment also..

[2019-04-27 09:42] #303 closed

[2019-04-27 09:48] targos opened #341 "git node land --continue should detect rebase"
During a `git node land` session, I had to rebase a fixup commit.

My session went like this:
[code]

You can see that I forgot to do `git rebase --continue` and ended up pushing my master branch in its state before the rebase.
I think `git node land --continue` should be able to detect that a rebase is in progress and stop whith a recommendation.

[2019-04-29 02:51] starkwang opened #343 "git node metadata doesn't support http proxy"
In node-core-utils, we use `node-fetch` to make http requests. But this library doesn't support proxy in its options, which makes requests failed in some cases.

Suggestion: using [`request`](https://www.npmjs.com/package/request) or [`got`](https://www.npmjs.com/package/got) to replace it.

[2019-04-29 03:02] richardlau commented on #343
`request` probably isn’t such a good idea: https://github.com/request/request/issues/3142

[2019-04-29 16:13] joyeecheung commented on #343
node-fetch supports custom agents so we could just use something like https://github.com/TooTallNate/node-https-proxy-agent for proxy support.

[2019-04-29 21:15] #333 closed

[2019-05-01 09:13] joyeecheung opened #344 "ncu-ci stopped working on Windows jobs"
The results are reported as the fallback `Failed in Tests phase` becuase ncu-ci does not know how to parse the results properly. There's probably some upstream changes in the JSON respose (the `-2` suffix?) that are not yet handled by ncu-ci.

[code]

The job looks like this:

https://ci.nodejs.org/job/node-test-binary-windows-2/521/

<img width="671" alt="Screen Shot 2019-05-01 at 5 08 39 PM" src

[2019-06-07 17:00] #293 closed

[2019-06-12 08:17] joyeecheung opened #350 "git-node: check if there are duplicates in Refs and PR-URL"
Refs: https://github.com/nodejs/node/pull/28181#pullrequestreview-248568058

[2019-06-12 16:09] #344 closed

[2019-06-13 16:49] joyeecheung opened #352 "ncu-ci: parse CITGM results"
It would be very helpful if ncu-ci can automatically find new breakages in CITGM, like this:

[code]

To get the results of a CITGM run, use this API endpoint

[code]

Additionally it would also be useful if `ncu-ci` can launch CITGM CIs but that's another TODO.

[2019-06-13 20:30] sam-github opened #353 "detection of lite ci is broken again?"
I recall this was broken, then @richardlau fixed it, but now it seems to be broken again, I get `No ci runs detected` on https://github.com/nodejs/node/pull/28178 and https://github.com/nodejs/node/pull/28162

[code]

(just updated)

Am I(we?) doing something wrong?

[2019-06-13 20:30] sam-github commented on #353
/cc @mhdawson

[2019-06-13 20:45] richardlau commented on #353
Currently testing out with https://github.com/nodejs/node/pull/28178 but it looks like it currently needs `/pipeline` at the end of the commented url: https://github.com/nodejs/node-core-utils/blob/8d6455327069abf5d366809177d9625c268946d3/lib/ci/ci_type_parser.js#L86-L91

I think when the bot was able to autostart jobs it would post the lite ci's with `/pipeline` at the end. In any case we should

[2019-06-13 22:49] richardlau commented on #353
[code]

PR incoming.

[2019-06-18 15:10] #353 closed

[2019-06-19 07:42] joyeecheung opened #356 "Pipe stdin when git operations ask for passphrase for ssh keys"
<img width="823" alt="Screen Shot 2019-06-19 at 3 40 45 PM" src="https://user-images.githubusercontent.com/4299420/59746096-b6c47480-92a8-11e9-944f-eeb462245e6e.png">

I've been doing `ssh-add -K /path/to/key` for this but it would be nice if git-node can just pipe to stdin (or at least display something more informative about this)

[2019-06-19 07:46] joyeecheung opened #357 "ncu-ci: ignore MatrixRuns that have different id from the parent"
In Jenkins this are displayed with translucent icons which means they are skipped

<img width="303" alt="Screen Shot 2019-06-19 at 3 46 12 PM" src="https://user-images.githubusercontent.com/4299420/59746409-7285a400-92a9-11e9-99a2-f8814a3114f1.png">

[2019-06-19 07:52] joyeecheung commented on #341
Hmm, we do have this logic

https://github.com/nodejs/node-core-utils/blob/08dd8f80f72858c0733212a9db26fabc176ecba0/lib/landing_session.js#L186-L190

Somehow it was not effective.

[2019-06-19 07:54] joyeecheung commented on #324
@sam-github That's a good point. Although it would still be useful to query the CI status and display a hint if it's not green or yellow, so that the user is aware that they are pushing a commit to master that did not fully pass the CI (even when it's just flaked).

[2019-06-20 13:07] gengjiawen opened #358 "git land stuck on windows"
The second prompt (sorry for not keeping the message) after type `Y`, the command stucked, both in cmd and git-bash.

Env info
[code]

cc @gireeshpunathil @mcollina

[2019-06-20 14:13] gireeshpunathil commented on #358
I cant reproduce this, but I saw it for sure in the remote screen of @gengjiawen when we were onboarding him. :)

[2019-06-20 14:15] richardlau commented on #358
Could it be related to https://github.com/nodejs/node-core-utils/issues/358 (something prompting for input)?

[2019-06-27 13:08] joyeecheung commented on #358
I think it may be related to https://github.com/nodejs/node-core-utils/issues/356

[2019-06-27 13:14] gengjiawen commented on #358
My ssh key has no password, is it still the case ? Also can I change some file to show the extra info so I can get more info in my case.

[2019-06-27 15:28] joyeecheung commented on #358
@gengjiawen there are other cases where git may prompt and wait for an answer e.g. the upstream server you are creating an ssh connection to is unknown. It's possible that write like this:

https://github.com/nodejs/node-core-utils/blob/f3f59dad963cc67924ed02aef3f6a2f7a0550479/lib/session.js#L295

covers the prompt from git. The fix would be to pay attention to commands like this that send a promp

[2019-06-29 14:17] devsnek opened #359 "v8 backport hangs at "Apply patch""
it's just been twirling here for the past five minutes

![](https://gc.gy/29522799.png)

[2019-06-29 14:21] targos commented on #359
It's not easy to see but under "Apply patch", there are instructions.
This happens when there is a conflict. What you need to do is keep this terminal as it is, fix the conflict and then come back to the terminal, type `resolved` and press "Enter".

[2019-06-29 14:24] devsnek commented on #359
oh i see. the way i read this screen was that "Resolve merge conflicts and enter RESOLVED" was going to be the next step, not the current step.

[2019-07-23 18:18] joyeecheung commented on #359
I guess this can be closed now. Feel free to reopen if there are more actions to be done.

[2019-07-23 18:18] #359 closed

[2019-10-01 15:56] mmarchini opened #365 "Option to check CI status on Travis (or GitHub API) instead of Jenkins"
Some projects don't use Jenkins, which means `git node land` will always warn as "no CI run detected" for those projects. We could add a config option to check only for Travis (or only check the GitHub Check status) on those projects. This would work nicely with #364.

[2019-10-01 15:57] mmarchini commented on #365
Ah, kinda dup of #324

[2019-10-01 15:57] #365 closed

[2019-10-09 22:28] richardlau opened #370 "New release?"
The last release was back in May. Since then fixes have gone in, e.g. https://github.com/nodejs/node-core-utils/pull/354, for issues which I think users are running into: https://github.com/nodejs/node/issues/29770#issuecomment-536652488

[2019-10-10 01:13] sam-github commented on #370
https://www.npmjs.com/package/node-core-utils --- looks like only @joyeecheung and " nodefoundation" can publish it?

[2019-10-10 08:13] joyeecheung commented on #370
Done https://github.com/nodejs/node-core-utils/releases/tag/v1.18.0

Anyone wants to help keeping it published on npm?

cc @targos since he maintains git-v8

[2019-10-10 08:37] targos commented on #370
I don't mind having publish rights on npm

[2019-10-10 19:18] joyeecheung commented on #370
@targos Are you also targos on npm? (just to be extra safe)

[2019-10-10 19:32] targos commented on #370
Yes I am

[2019-10-28 02:06] gengjiawen opened #373 "Generate metadata for repo like https://github.com/nodejs/node-gyp/"
Currently it fails with

[code]

[2019-10-28 02:25] gengjiawen commented on #373
Is it okay to make

https://github.com/nodejs/node-core-utils/blob/33666e1bda91b01c304c86e5c433edac0063ff06/lib/collaborators.js#L55

to this ?

[code]

[2019-11-03 14:41] legendecas commented on #373
I think this is what's done in https://github.com/nodejs/node-review.

[2019-11-13 01:03] trivikr commented on #370
I believe this issue can be resolved as:
* the new release was done with [v1.18.0](https://github.com/nodejs/node-core-utils/releases/tag/v1.18.0)
* @targos was given publish rights, and release [v1.18.1](https://github.com/nodejs/node-core-utils/releases/tag/v1.18.1)

[2019-11-13 01:10] trivikr opened #374 "`git node land --abort` gets stuck"
The command gets stuck on my machine as follows:
[code]

Details:
[code]

[2019-11-13 01:36] #370 closed

[2019-11-15 19:10] sam-github opened #375 "add travis build checks to git-node-land"
https://github.com/nodejs/node-core-utils/pull/369 is a round-about way of doing it, but apparently not reliable (https://github.com/nodejs/node-core-utils/pull/369#issuecomment-548953916). If it was reliable, then all the specific code to check Jenkins or Travis would be unnecessary, so  that's unfortunate.

Note that since https://github.com/nodejs/node/pull/30330 only Travis has been required f

[2019-11-28 01:32] sam-github opened #377 "node land thinks a PR with failed build is landable"
output from node-core-utils master here: https://github.com/nodejs/node/pull/30637#issuecomment-559283378

It correctly found the ci commit message, and the commit, but doesn't seem to evaluate its pass/fail status.

I tried again with npm install on 10.x, same issue:
[code]

[2019-11-28 01:35] sam-github commented on #377
I'll leave this in the current state in case anyone wants to look at it.

[2019-12-13 16:44] targos opened #382 "command to know in which release branch(es) a specific commit is"
I don't think we have a simple automated way to do that now. Due to the way we land commits in releases, we cannot just search for the commit SHA in release branches.
I think it would be useful to have a command for that.

Prior art in V8: https://github.com/v8/v8/blob/master/tools/release/mergeinfo.py

[2019-12-13 16:48] targos commented on #382
Example:

PR: https://github.com/nodejs/node/pull/30123
Landed on master in https://github.com/nodejs/node/commit/511f67bcb42b59c9a3a3efab8fed578db100afe1
Landed on v13.x in https://github.com/nodejs/node/commit/d549a34597d8d9f8489de748e42eefdd148d0bef
Landed on v12.x in https://github.com/nodejs/node/commit/375f349760d141b37abe5e7119aab243426eb2f4
Did not land on v10.x or v8.x

[2020-02-19 06:24] jamesgeorge007 opened #386 "git-node doesn't handle unknown commands"
`git-node unknown` is expected to show a suitable warning message kinda like `Unknown argument: unknown`.

[2020-02-19 13:13] #386 closed

[2020-03-11 15:58] mmarchini opened #391 "`ncu-ci` wait for CI to finish and send desktop notification"
As title says, ncu-ci could (optionally) wait for a pending CI and send a desktop notification when it's finished, as well as outputting the result.

Something like:

[code]

[2020-03-11 20:06] mmarchini opened #393 "`ncu-ci` flags will fail silently if no value is passed"
[code]

[2020-03-12 02:51] mmarchini opened #394 "`ncu-ci` flag to gather flaky tests as well"
Can be useful when a flaky tests is legitimately failing.

[2020-03-13 01:40] mmarchini opened #395 "`ncu-ci` getting failure from unrelated job run"
See https://github.com/nodejs/build/issues/2224. `ncu-ci` fetched data for `ubuntu1804_sharedlibs_openssl110_x64`, even though this Job didn't run, effectively getting a test failure from another Job run.

[2020-03-16 21:15] mmarchini opened #396 "`ncu-ci`: output a summary list with all failing tests"
So it's easier to know which tests are failing across all platforms. Something like:

[code]

Example:

[code]

[2020-03-25 22:28] mmarchini opened #398 "Worktree-aware ncu config file resolution"
I use `git worktree` a lot, it would be nice if node-core-utils could identify when we're running commands on a worktree and look for `.ncu/` on the main worktree.

[2020-03-27 08:09] targos commented on #398
We'd need to have some special cases because `config.upstream` makes sense to be shared between worktrees but not `config.branch`.

[2020-03-30 15:07] joyeecheung commented on #396
There is currently something similar generated as a TODO list in the markdown output here:

https://github.com/nodejs/node-core-utils/blob/32c7b48f846bb12f79dddff5124ad51254167e86/lib/ci/ci_result_parser.js#L534-L537

We just need to push more information into the `todo` in the loop and write them out in the end.

[2020-03-30 19:12] mmarchini commented on #398
That makes sense, although in my use case last week I was using the same branch name :)

[2020-04-04 05:32] mmarchini opened #400 "Don't use `--whitespace=fix` for changes on `deps/`"
Not sure if there's an easy way to do it, but we had recent CI failures on master and v12 because --whitespace=fix made invalid changed to V8 test fixtures. Since we sync `deps/` from upstream projects, avoiding unwanted whitespace changes there is probably a good idea.

[2020-04-04 07:03] targos commented on #400
I wonder if we shouldn't just remove the flag altogether. There are also some `tools` where we probably shouldn't apply it and for the rest, code review can spot the rare case where people introduce extra whitespaces.

[2020-04-13 12:43] targos opened #404 "git-node release: issues with changelog generation"
Notes I took while I was preparing the proposal for v13.13.0.

- `getChangelog()` doesn't work if the user isn't authenticated.
  - It returns the string `"Your GitHub username:"`
- After manual authentication, `getChangelog()` triggers an abuse detection mechanism:
  - `Error fetching issue #30436: Error from GitHub: You have triggered an abuse detection mechanism. Please wait a few minutes befor

[2020-04-13 15:52] codebytere commented on #404
@targos those are both unfortunately long-running hazards of `branch-diff` from what i recall, which is invoked in `getChangelog()`... can you replicate it there? I can at the very least attempt to add some error guarding around that should it fail 🤔

[2020-04-13 16:31] targos commented on #404
I can replicate with: `npx changelog-maker --group --filter-release --start-ref v13.12.0`
It's weird, because on my Windows machine, it triggers the abuse detection, but on my Linux it doesn't.

[2020-04-13 17:30] codebytere commented on #404
@targos one thing i've been considering is a small refactor of `changelog-maker` that batched requests to help prevent false-positive abuse detection errors, but i haven't had the time - i can try to stab at that upcoming maybe!

[2020-04-23 22:14] BridgeAR opened #406 "Update deprecated github APIs"
I just used node-core-utils on a new device and set up the connection to github and it seems like we are using a deprecated API:

[code]

[2020-04-24 00:28] codebytere commented on #406
i'm happy to take this one! pretty sure i know the small refactor we need to make.

[2020-04-24 02:38] codebytere commented on #406
It's actually an issue with [`ghauth`](https://github.com/rvagg/ghauth/blob/master/ghauth.js#L12) though - we might want to fix it there although it's also feasibly fixable here if we potentially want to remove use of that module 🤔

[2020-04-24 08:04] BridgeAR commented on #406
I have no strong opinion either way.

[2020-04-27 07:36] Himself65 opened #407 "feature request: system proxy support"
My PC have to use proxy to access GitHub (you know why)

[code]

and I will take some time to handle this

[2020-04-27 08:49] targos commented on #407
I think if we support `git node set proxy`, the configured proxy should then be used automatically, not with an explicit `--proxy` flag in the commands.

[2020-04-27 09:16] Himself65 commented on #407
sure, and use proxy config in global `.gitconfig` is also ok. Just need a way to use proxy whatever it is :|

[code]

[2020-04-27 09:22] targos commented on #407
another way to provide proxy that I have seen is to use the `http_proxy` and `https_proxy` environment variables.

[2020-04-27 09:28] Himself65 commented on #407
I don't think it has any effect... :(
![image](https://user-images.githubusercontent.com/14026360/80356732-75c7c400-88ac-11ea-9ccf-d051dea87bd3.png)

[2020-04-27 10:35] targos commented on #407
No, but I mean that we could support that or use a library that does

[2020-04-27 15:50] joyeecheung commented on #407
We use node-fetch for git-node-land (not sure about other commands) so at least it should be fairly doable by using with one of the proxy agent implementations on npm with https://github.com/node-fetch/node-fetch#custom-agent But be aware that we need to configure the proxy setting for the git repository so that git picks it up and that may be tricky, especially for people who use SSH instead of H

[2020-04-28 10:12] Himself65 commented on #407
I code a simple implementation for self-use, later I will finish the PR

[code]

[2020-05-05 19:35] codebytere commented on #400
I think i'd be in favor of removing it altogether as well - happy to take this if that's the direction we wanna go!

[2020-05-14 16:52] #393 closed

[2020-05-20 13:51] dominykas opened #421 "`git node backport v8` does not work on macOS"
I got an error saying `Resolve merge conflicts and enter 'RESOLVED'` - however there were no conflicts. The actual underlying failure was `patch: unrecognized option '--merge'` - it seems the `patch` on macOS does not have that option.

I'm happy to research/PR whatever would be considered an acceptable fix?

Also not sure if there's a good way to detect conflicts vs other kinds of errors - the er

[2020-05-20 19:13] codebytere commented on #421
The line originates [here](https://github.com/nodejs/node-core-utils/blob/a9c0676d0f64df5c8e86d7287f69381dc64049f2/lib/update-v8/backport.js#L203-L210) and unfortunately it looks like you're right - the patch commands are similar on macOS and on Linux but there are some nontrivial option differences, one of which is the `--merge` command.

I think our best bet here is probably to move away from th

[2020-05-23 08:40] targos opened #423 "git node land crash if ncu-config wasn't set"
[code]

calling `ncu-config set upstream ` and `ncu-config set branch` fixed it.

[2020-05-23 16:49] codebytere commented on #423
hmm, that should have tripped [this check](https://github.com/nodejs/node-core-utils/blob/189c167bd68206cae486c82fcf35db4e06ba13d1/components/git/land.js#L132-L134) 🤔

[2020-05-23 19:33] BridgeAR opened #424 "Changing commit messages should be improved"
Right now when changing the commit messages a file is added and that has to be changed. This is not really straight forward:

[code]

It would be easier to apply the metadata right away and to let the user then change the commit message with `git commit --amend`. That would be more straight forward and easier to handle for people landing PRs.

[2020-05-24 01:29] BridgeAR opened #425 "git node land simplifications"
It should be possible to anticipate the next command. For example in case a rebase is needed due to multiple commits. In such case, it would be nice to already execute the command that is currently printed to the terminal:

[code]

It would be good to already run `git rebase origin/master -i -x "git node land --amend"`. Even `git node land --continue` should be possible to run automatically as soo

[2020-05-25 11:19] targos commented on #423
I think there was no config file (removed previously with `git clean -fdx`).

[2020-05-25 11:52] dominykas commented on #421
I don't know what `patch --merge` leaves on the filesystem when there's a conflict, but `git apply -3` (to do a three-way merge) worked for me 👍

[2020-05-25 12:01] targos commented on #421
@dominykas what did `git apply -3` leave?

[2020-05-25 12:37] dominykas commented on #421
@targos the `<<<<<<< ours` delimited stuff - not sure what it's called.

[2020-05-25 13:08] targos commented on #421
I vaguely remember that `git apply` didn't always leave conflict markers, but maybe I'm wrong. And it's probably better to have something that work sometimes on all platforms than never on macOS

[2020-05-26 16:43] #377 closed

[2020-05-27 18:28] mmarchini commented on #425
I like it, as long as there's an opt-out flag. I landed a commit recently with a mix of `fixup!` commits and GitHub suggestion commits and `--autosquash` got the commit order _very wrong_ (enough to cause conflicts, had to rerun land and skip `--autosquash`).

[2020-05-30 01:51] BridgeAR opened #427 "Run make lint during `git node land`"
Running the linter does not take long and it's at least a minimal verification that everything works as expected besides linting the commit message.

[2020-05-30 02:06] BridgeAR commented on #425
We should also automatically check if local master branch is already up to date and skip the suggestion (`Do you want to try reset the local master branch to upstream/master? No`) to update it in case it's already up to date.

[2020-05-30 02:25] BridgeAR commented on #425
Another improvement would be to ask if the user wants to push the commit (`To finish landing: 1. Run git push upstream master`). That way there's one less command to enter into the command line. Ideally that command would also update the fork's remote as well.

[2020-05-30 02:53] BridgeAR opened #428 "Copy to clipboard"
It would be great to already copy the command suggestions into the clipboard (and allow to opt-out of that behavior) by using e.g., https://www.npmjs.com/package/clipboardy

[2020-05-30 15:46] #423 closed

[2020-06-02 15:39] #421 closed

[2020-06-04 17:36] sam-github opened #436 "is node-core-utils incompatible with node 14.4?"
I haven't troubleshot much, but I'm seeing

[code]

with node 14.4.0, so I backdated to 1.20.0, same, so I backdated node to 12.18.0, and it worked.

[2020-06-05 15:30] #407 closed

[2020-06-08 15:30] joyeecheung commented on #436
It sounds like a regression of moving to the recursive option of `fs.mkdir`? @targos

[2020-06-08 15:32] joyeecheung commented on #424
It should be good to add a question here about copying it and use `clipboardy.writeSync` to copy it.

[2020-06-08 15:33] joyeecheung opened #437 "show semver-ness in git-node backport analysis"
So that it's easier to tell which ancestor commits cannot be backported from the analysis

[2020-06-08 15:35] joyeecheung commented on #437
Note: this needs internet connection to retrieve the semverness labels (because we have no metadata in the commit message....maybe that would be a good thing to add to the commit message?), so it would be better if we ask a question before doing that.

[2020-06-08 15:37] targos commented on #436
is it 100% reproducible?

[2020-06-08 15:37] codebytere commented on #436
Pretty sure this was fixed by https://github.com/nodejs/node-core-utils/pull/434

[2020-06-08 19:27] BridgeAR opened #439 "Sync error not helpful"
I just wanted to backport a PR and I got the following error:

[code]

We should probably include `stdout` as well and maybe there's more to improve the error somewhere else as well.

[2020-06-08 19:43] codebytere commented on #439
@BridgeAR this was fixed in https://github.com/nodejs/node-core-utils/pull/426 - it just hasn't been published yet :)

[2020-06-08 19:48] BridgeAR commented on #439
Awesome! Should we maybe also include a hint how to fix that?

[2020-06-11 03:36] #400 closed

[2020-06-22 11:28] gengjiawen commented on #439
Can new release on schedule ? running into same issue.

[2020-06-22 11:40] gengjiawen commented on #439
With master looks like still exists:

[code]

[2020-06-22 12:14] gengjiawen commented on #439
My root cause is I misconfig upstream. The raw git command `git config --get` just return 1 with no stderr and stdout.

[2020-06-27 01:23] mmarchini opened #442 "Set exit code when commands fail"
If I run `git node land` on a new machine with nothing configured, I'll get the instructions to set required variables, and then the process will exit with status code 0. In order for us to be able to use ncu on a Commit Queue, it needs to return the appropriate status codes when something goes wrong, otherwise automation won't work.

(I didn't check which other failures will exit with 0, but all

[2020-06-27 19:24] mmarchini opened #446 "Suggestion: auto-land and auto-release NCU Pull Requests"
Looking at our Pull Requests list, seems like we have six pull requests ready to land (with approvals), but I don't think it's clear who is allowed to land PRs in this repository. Similarly, sometimes commits will sit on master for a while until someone has time to publish a new version on npm. My suggestions:

1. A scheduled GitHub Action that will merge all PRs with at least one approval and gre

[2020-06-28 00:34] mmarchini opened #447 "If last CI is still running, `git node land --yes` should fail"
`git node land --yes` checks will succeed and advance if last CI is still running, which opens the door for landing PRs before we get a result from our CI. We should change it so that if the CI is still running, `git node land` will fail.

[2020-06-28 03:50] codebytere commented on #446
@mmarchini I definitely agree that there's a bit of a 911 problem going on with who has authority to merge things, but i'm not 100% sure that automatic merges are the right solution here for a few reasons:

1) Fairly few people (i think it's basically ~4-5 of us atm?) maintain this repo, so it's often the case that a 1-2 specific people's approval is needed for a given PR as they're the one who'll

[2020-06-28 03:55] codebytere commented on #442
Closed by https://github.com/nodejs/node-core-utils/pull/443

[2020-06-28 04:08] mmarchini commented on #446
CODEOWNERS doesn't solve the issue of who can land PRs (the access tab is a mix of individually granted permissions and teams, and it's not clear which team should be pinged to land things here), only who has context to review PRs. It's a great feature to add to the repository, but it wouldn't solve the lingering already-approved PRs issue.

The scope and user base of this project is limited enoug

[2020-06-28 04:09] mmarchini commented on #442
I'd like to keep this open because there are still many situations where the exit code will return zero even if the command failed. Would be good for us to list those as a next step.

[2020-06-30 11:44] gengjiawen opened #452 "ncu-ci pr failed"
On latest commit for PR: https://github.com/nodejs/node/pull/34086#issuecomment-650573553
[code]

[2020-06-30 14:11] codebytere commented on #452
@gengjiawen this'll be closed by https://github.com/nodejs/node-core-utils/pull/451

[2020-06-30 14:26] gengjiawen commented on #452
But this has been runs by jenkins `QUIC CI: ci.nodejs.org/job/node-test-commit/39325`

[2020-06-30 14:27] codebytere commented on #452
@gengjiawen ooh hmm ok i'll look more!

[2020-06-30 14:31] codebytere commented on #452
perhaps a daft question but what's different about the QUIC CI? it looks like the same UI and tests being run but logically i assume there's something different in build params 🤔

[2020-06-30 14:32] richardlau commented on #452
https://github.com/nodejs/node/pull/34086#issuecomment-650573553 doesn't have a node-test-pull-request run. The QUIC CI link is directly running node-test-commit because it uses non-standard config flags to build.

[2020-06-30 14:37] #452 closed

[2020-06-30 14:37] gengjiawen commented on #452
https://github.com/nodejs/node-core-utils/blob/master/docs/ncu-ci.md

This page says
[code]

Is it outdated ?

[2020-06-30 14:38] codebytere commented on #452
@gengjiawen you need to run ` ncu-ci commit <jobid>` for `node-test-commit`

[2020-06-30 14:46] codebytere commented on #439
Closing as resolved by https://github.com/nodejs/node-core-utils/pull/426

[2020-06-30 14:46] #439 closed

[2020-07-10 18:36] bnb commented on #446
I've seen that Electron uses Semantic Release for a few of their modules and it seems pretty handy in terms of auto releasing as new features land. Potentially something to consider?

https://github.com/semantic-release/semantic-release

[2020-07-15 05:43] codebytere commented on #375
Closing as Node.js PRs now use Jenkins and GitHub actions, checks for both of which are included in `git-node-land` logic :)

[2020-07-15 05:43] #375 closed

[2020-07-21 19:13] codebytere opened #462 "Creating a @nodejs/node-core-utils team?"
As mentioned by @mmarchini in an earlier PR, as there is a small consistent group of folks who review/open PRs on this repo I think it would simplify and streamline `@mentions` to create a `@nodejs/node-core-utils` team . What do you all think? I don't believe we need to follow any other protocol to make one once it's been determined who it would include, though I may be wrong!

cc'ing folks who m

[2020-07-21 19:15] richardlau commented on #462
Sounds good. Would be happy to be in the team if it is created.

[2020-07-21 19:27] mmarchini commented on #462
I'd like to be in the team too.

Pinging all other folks who have individual write access to this repo (just in case):
@tniessen @Tiriel @refack @priyank-p @jasnell @apapirovski @addaleax

[2020-07-21 19:30] jasnell commented on #462
I don't need it, but thank you! Great idea

[2020-07-22 03:48] joyeecheung commented on #462
+1, also I guess we could complete https://github.com/nodejs/admin/issues/488 after the new team is created

[2020-07-22 18:25] priyank-p commented on #462
I guess I'd like to be in team as well!

[2020-07-22 18:29] mmarchini commented on #446
As a start we could add https://github.com/googleapis/release-please or https://github.com/semantic-release/semantic-release to just create the changelog and release commit automatically (not sure how semantic-release works, release-please will open a PR and will update it every time a commit lands until someone merges it, which is good if we'll publish to npm manually for now). Both follow https:

[2020-07-23 19:19] #352 closed

[2020-07-27 16:26] codebytere commented on #462
I plan to make the initial team tomorrow if that sounds ok to you all!

[2020-07-28 21:09] codebytere commented on #462
Done here: https://github.com/orgs/nodejs/teams/node-core-utils/members

[2020-07-28 23:34] mmarchini commented on #462
leave it open until the cleanup sounds good

[2020-08-05 02:46] mmarchini commented on #395
probably not actionable

[2020-08-05 02:46] #395 closed

[2020-08-07 03:06] mmarchini opened #466 "Querying Lite-CI API will stuck `git node land`"
![stuck-lite-ci](https://user-images.githubusercontent.com/4048656/89604493-3bad7d00-d820-11ea-8942-110d2ac25556.gif)

We should probably remove checks for Lite-CI since we don't use it anymore.

[2020-08-07 15:40] codebytere commented on #466
@mmarchini happy to take it unless you're already on it!

[2020-08-08 09:34] joyeecheung opened #467 "Add a verbose option"
A few things that come to mind

1. Show commands spawned by ncu
2. Show HTTP request response, in particular responses that could not be parsed as JSON (e.g. when Jenkins authorization fails, it returns XML)
3. Pipe stdout and stderr, also do not use spinners if verbosity is on in case the output is overwritten

[2020-08-10 15:37] addaleax opened #470 "Fixes: and Refs: tags are pulled from PR description"
`git node land` seems to think that *any* `Fixes:` and `Refs:` tags it finds apply to *all* commits in a pull request. That’s unhelpful when there’s multiple commits in a PR, see e.g. https://github.com/nodejs/node/pull/34673. Is this intentional? If no, can we remove it? If yes, can we at least create a way to opt out?

[2020-08-10 15:56] richardlau commented on #470
It probably was intentional. I kind of like not having Fixes/Refs in the commit metadata until landing otherwise referenced issues/PR's get spammed every time you update/force push rebase etc.

+1 for being optional for multi-commit PRs (maybe with a warning) or with an opt-out flag.

[2020-08-10 16:21] codebytere commented on #470
+1 for warning and opt-out flag from me too - happy to pop up a PR if that seems like the path forward

[2020-08-12 03:33] mmarchini commented on #425
`--yes` will skip all questions as long as no checks failed (should cover both cases)

[2020-08-12 03:37] mmarchini commented on #308
Implemented on https://github.com/nodejs/node-core-utils/pull/422

[2020-08-12 03:37] #308 closed

[2020-08-12 03:40] mmarchini commented on #283
We have the following message today:

[code]

`--continue` will run `--final`, so I think we're good. Feel free to reopen if you believe we should do something else though (or feel free to open another issue)

[2020-08-12 03:40] #283 closed

[2020-08-12 03:42] mmarchini commented on #193
https://github.com/nodejs/node-core-utils/pull/420 implemented this for DEP00XX, we just need to do the same for REPLACEME now.

[2020-08-12 03:43] mmarchini commented on #131
`ncu` handles fast-track properly today

[2020-08-12 03:43] #131 closed

[2020-08-12 03:55] richardlau commented on #193
`REPLACEME` tags should only be set in the release commits. This is already done in https://github.com/nodejs/node-core-utils/blob/498d600a4382d731f40327a5ce0bd4738961926b/lib/prepare_release.js#L115-L118.

[2020-08-12 04:11] mmarchini commented on #193
Oh cool, we can close then

[2020-08-12 04:11] #193 closed

[2020-08-14 18:10] #466 closed

[2020-08-15 04:57] mmarchini opened #476 "Should retrieve more than the last 10 checkSuites"
We have 12 check suites today on Node.js, which means we're not retrieving all suites to check if they passed (well, after #469 lands). We're retrieving 100 commits for the PR, which is unlikely to happen, so it's probably a good idea to shift from commits to checkSuites (maybe 25 commits / 40 check suites).

[2020-08-15 04:59] mmarchini opened #477 "Double-check that `commits(first: 100` returns the most recent 100 commits, and not the oldest 100"
As title says, our PRCommits.gql query uses `first` for commits. I'm not sure if it fetches the newest or oldest 100 commits. If whoever implemented this already tested it and remember the answer, that's enough for me too :)

[2020-08-15 09:30] targos commented on #476
Maybe still 50 commits? V8 updates often come close to 25.

[2020-08-15 09:39] targos commented on #477
I just tested with https://developer.github.com/v4/explorer for that PR: https://github.com/nodejs/node/pull/34752

With `first: 5`, it returns them from oldest to newest:
![image](https://user-images.githubusercontent.com/2352663/90309770-a713e080-deeb-11ea-8428-9d6f2d558325.png)

You can change to `last: 5` to get the most recent commits (still ordered from old to new):

![image](https://user-im

[2020-08-15 09:52] mmarchini commented on #476
Yeah, I'll tweak with it to use the graphql fetch limit (we'll probably go over 20 actions at some point). Although I'm not sure we use the commits (except the last) on any checks.

[2020-08-15 21:14] #470 closed

[2020-08-16 05:01] ljharb commented on #264
ping

[2020-08-16 16:11] codebytere commented on #230
We could probably copy https://chromium.googlesource.com/chromium/src/+/master/tools/bisect-builds.py to some extent and make it a nice interactive flow

[2020-08-17 00:30] priyank-p commented on #313
Updated the title and removed the `stale` label since this is still relevant for GitHub Actions we currently use.

[2020-08-17 00:34] priyank-p commented on #156
I think this is no longer an issue since it didn't come up recently.
And, my comments are all but un-understandable back then :(

[2020-08-17 00:38] priyank-p commented on #205
Closing under the assumption that #223 fixes this.

[2020-08-17 00:38] #205 closed

[2020-08-17 15:46] #156 closed

[2020-08-17 15:54] codebytere commented on #194
This has been implemented.

[2020-08-17 15:54] #194 closed

[2020-08-17 16:02] codebytere commented on #291
Closed by https://github.com/nodejs/node-core-utils/pull/292

[2020-08-17 16:02] #291 closed

[2020-08-17 16:11] #427 closed

[2020-08-17 16:14] mmarchini commented on #204
Just tested, still an issue

[2020-08-17 16:30] mmarchini commented on #264
Hopefully we can get this working with the new commit-queue

[2020-08-17 16:44] mmarchini opened #480 "Reduce/restrict scope of the project?"
`node-core-utils` has's been used to land PRs on some WGs from time to time, as well as some projects like llnode. None of those projects really need to follow `nodejs/node` landing flow though. Based on some comments on https://github.com/nodejs/node-core-utils/pull/469, I'm wondering if we should reduce the scope of this project to only land pull requests on `nodejs/node`, instead of aiming to l

[2020-08-17 16:50] codebytere commented on #480
I personally would be in favor of demarcating scope limits along these lines  for the same reasons, as well as to help ensure that decisions around what features we do and don't add (and workarounds) are more clearly enumerated.

[2020-08-17 19:19] mmarchini opened #483 "Changes to PR wait time and approval checks"
If https://github.com/nodejs/node/pull/33879 lands the checks should be changed to:

- Require only one approval by default
  - Recommend (without blocking) to wait for a second approval
- Drop wait times as requirements (we can still add a suggestion to wait if the PR lands before 48h, but it should return success code and shouldn't block --yes)
- Check if 48h passed since the `wait-for-feedback`

[2020-08-17 21:06] codebytere commented on #477
Meaning we should swap to `last`?

[2020-08-17 21:47] mmarchini commented on #477
That's what I understood, yes

[2020-08-18 00:33] codebytere commented on #127
i'd say we should close this - I see no real reason to deviate from syntax we've been adhering to for years

[2020-08-18 00:33] #127 closed

[2020-08-18 02:47] codebytere commented on #133
Will be closed by https://github.com/nodejs/node-core-utils/pull/478

[2020-08-18 05:16] #102 closed

[2020-08-18 13:22] #350 closed

[2020-08-18 13:22] #133 closed

[2020-08-18 13:38] codebytere commented on #166
Gonna close this one since it's pretty old and i don't think this is something there's wide interest in doing but please reopen if that's not the case!

[2020-08-18 13:38] #166 closed

[2020-08-18 13:47] codebytere commented on #209
Resolved by https://github.com/nodejs/node-core-utils/pull/426

[2020-08-18 13:47] #209 closed

[2020-08-18 13:50] codebytere commented on #318
Closing as i no longer believe this is an issue but feel free to reopen if that's not the case.

[2020-08-18 13:50] #318 closed

[2020-08-18 13:51] #141 closed

[2020-08-18 15:19] #228 closed

[2020-08-18 18:50] mmarchini opened #484 "Suggestions for running the linter as part of landing process"
While testing #473 I experienced landing with linter (which landed recently #435) and I have a couple suggestions:

- Running the linter is surprisingly slow, which IMO makes the already heavyweight landing process even more cumbersome to do manually. Could we make the lint process opt-in, so folks can choose PRs they think will require lint before landing? We can set it on by default when landing

[2020-08-19 06:12] codebytere commented on #172
Duplicate of https://github.com/nodejs/node-core-utils/issues/264

[2020-08-19 06:12] #172 closed

[2020-08-19 16:52] #267 closed

[2020-08-19 18:12] #108 closed

[2020-08-20 16:56] #324 closed

[2020-08-23 00:48] mmarchini opened #491 "Warn about outdated ncu + auto update"
Having an up to date ncu is essential for folks to land PRs following the latest process, but today if someone tries to use ncu with an older version it will work, which might lead to missing checks before landing something. To avoid that, ncu should check if it's running the latest version and warn the user if it's not (potentially with an option to self-upgrade).

[2020-08-24 20:12] #143 closed

[2020-08-25 01:13] mmarchini commented on #446
Was looking at this again after #488 landed. wombat needs to run on GCP, so we would need donated credits to use it on the Node.js org. CFA doesn't work with Actions yet, which is a blocker for us (I don't think requiring Slack is a problem, we could probably use the Foundation Slack). I'm not aware of any other options. While CFA looks more promising, I'm not sure how it fares on multiple project

[2020-08-25 01:25] mmarchini opened #492 "1.24.0 release"
cc @nodejs/node-core-utils anyone with publish perm to `node-core-utils` on npm available to publish the latest release?

[2020-08-27 21:10] mmarchini opened #494 "Publish permission for @nodejs/node-core-utils"
We should add everyone on @nodejs/node-core-utils as maintainers on npm, so everyone can publish. Please share your npm username here :)

[2020-08-28 02:45] mmarchini commented on #492
done

[2020-08-28 02:45] #492 closed

[2020-08-28 16:57] richardlau commented on #494
I'm [richardlau](https://www.npmjs.com/~richardlau) on npm.

[2020-08-28 17:14] targos commented on #494
@richardlau I added you

[2020-08-28 17:38] priyank-p commented on #494
Mine is [priyankp](https://www.npmjs.com/~priyankp) though I don't think I need access :)

[2020-08-30 00:17] #404 closed

[2020-08-31 00:18] #373 closed

[2020-08-31 00:18] #374 closed

[2020-08-31 00:18] #358 closed

[2020-08-31 00:18] #341 closed

[2020-08-31 00:18] #317 closed

[2020-08-31 00:18] #251 closed

[2020-08-31 00:18] #252 closed

[2020-08-31 01:07] mmarchini commented on #446
@nodejs/node-core-utils would you be willing to try https://github.com/mmarchini-oss/npm-otp-publish to autopublish when we merge [release-please PRs](https://github.com/nodejs/node-core-utils/pull/493)? I'm still working on it, but it should be usable as it is today. `node-core-utils` could be one of the first projects (outside my personal ones) to try it :)

[2020-09-01 00:33] #160 closed

[2020-09-01 00:33] #179 closed

[2020-09-01 00:33] #140 closed

[2020-09-01 00:33] #148 closed

[2020-09-01 00:33] #119 closed

[2020-09-01 00:33] #3 closed

[2020-09-06 00:56] mmarchini opened #496 "ncu-ci broken"
[code]

https://github.com/nodejs/reliability/runs/1076696317?check_suite_focus=true

Probably broke in the last release

[2020-09-07 01:48] codebytere commented on #436
Closing as resolved

[2020-09-07 01:48] #436 closed

[2020-09-10 16:18] mmarchini opened #498 "Collect analytics, logs, capture errors"
Is that something we would be interested in? The tool is only (meant to be) used by collaborators anyway, and capturing some analytics as well as logs and errors could be useful (at least errors, so we know when something breaks).

[2020-09-10 23:01] GeoffreyBooth opened #499 "Cannot read property ‘startSpinner’ of undefined"
The `metadata` command stopped working for me:

[code]

[2020-09-11 12:02] targos commented on #498
Seems like it could be useful. Do you already have an idea about how we would store and process these data?

[2020-09-12 05:19] #499 closed

[2020-09-13 20:04] mmarchini opened #501 "Don't require full CI when `.github/` is the only change (and others)"
This might also require policy changes on `nodejs/node`, but for PRs changing Actions we don't need to run full CI. Same goes for PRs changing CODEOWNERS, or linter rules, among other files. I suggest we create a `.jenkinsignore` file or something on `nodejs/node` so we can store the rules there instead of here.

[2020-09-17 17:43] mmarchini commented on #498
[Sentry](https://sentry.io/welcome/) is an option, but yeah we should investigate what's available out there before choosing.

[2020-09-19 22:30] nschonni opened #502 "Use asterisks for ncu-team-sync list items"
Since the remark-lint rules in https://github.com/nodejs/remark-preset-lint-node enforce this, it would be good to be consent with the inserted sections, so they don't need to be ignored in the READMEs that use the tool for syncing

[2020-09-21 00:35] #437 closed

[2020-10-02 13:22] gengjiawen opened #504 "support v8 revert"
support revert v8 commit by hash, should be usefully when test V8 function. Like https://github.com/nodejs/node/pull/35415#issuecomment-700987060, I have a guess, but cumbersome reverting the commit in node.js repo.

[2020-10-04 16:42] codebytere opened #506 "Erroneous "Commit message is missing PR-URL" error"
Seen here: https://github.com/nodejs/node/pull/35405

When i proceed anyway, each message nevertheless has all requisite info:

[code]

[2020-10-09 08:38] targos opened #508 "Update release-please-action?"
We are using v1.6.3: https://github.com/nodejs/node-core-utils/blob/62fc5cee44b8071995a4dd72f4e848d163ae96dc/.github/workflows/release-please.yml#L11
Latest version is v2.5.3: https://github.com/GoogleCloudPlatform/release-please-action/releases/tag/v2.5.3

[2020-10-09 12:54] joyeecheung commented on #467
Reminder: this is not yet fixed because of 3 in the OP

[2020-10-11 14:07] targos opened #509 "PSA: updated repository settings"
I reviewed the settings of this repository and did the following changes:
- Disabled Wikis: there was no wiki.
- Removed explicit write access from people who are already in the @nodejs/node-core-utils team. This shouldn't change their access.
- Added branch protection rules to the `master` branch:
  - Cannot be force-pushed
  - Require linear history (no merge commits)
  - Include administrators

[2020-10-12 09:36] joyeecheung commented on #509
I think it's probably better to leave that to the author (if it works as I understand, delete the branches in their own repo once the PR is merged)

SGTM

Have we broken this before? But yes it's good to formalize it.

SGTM, though I think we never really care about the coverage which tends to be red 🤣

[2020-10-15 18:12] #508 closed

[2020-10-19 20:08] #496 closed

[2020-10-20 14:48] joyeecheung commented on #504
Would be useful for https://github.com/nodejs/node-v8/issues/175 too. We probably just need to add `--reverse` to the `git apply` command to make it work

[2020-10-20 14:59] gengjiawen commented on #504
Also my guess for https://github.com/nodejs/node/pull/35415#issuecomment-700987060 is right, though I manually revert them, take quite some time (The final fix is not revert though, I found a workaround).

[2020-10-27 15:04] joyeecheung commented on #462
Closing since we've done the clean up.

[2020-10-27 15:04] #462 closed

[2020-11-02 21:09] mmarchini commented on #509
Deleted branches are never truly deleted and can be restored via GitHub UI. I don't remember if branches from forks are deleted or not though.

[2020-11-16 00:58] ljharb commented on #264
bump

[2020-11-17 15:17] joyeecheung commented on #204
Oh wait, we could just log the help text instead of creating a man page anyway

[2020-11-24 04:55] #477 closed

[2020-11-25 00:31] #229 closed

[2020-11-27 10:52] joyeecheung commented on #494
I see that everyone is listed in https://www.npmjs.com/package/node-core-utils, so closing.

[2020-11-27 10:52] #494 closed

[2020-11-30 00:34] #480 closed

[2020-11-30 00:34] #149 closed

[2020-11-30 18:54] joyeecheung opened #521 "Can we disable the stale bot in this repository?"
It's somewhat annoying that it keeps closing feature requests and there's no way for us to tell whether the issue was closed because it's fixed or because it's stale when we look at the issue list.

[2020-11-30 18:55] joyeecheung commented on #521
Or maybe we can disable it on feature requests?

[2020-12-02 07:55] targos commented on #521
Yes, I think we should disable the stale bot. I see no benefit of having it in this repository.

[2020-12-02 07:57] targos commented on #521
Issues that were closed by the bot have the `stale` label.

[2020-12-18 09:31] gengjiawen commented on #480
I would suggest reopen this.

Currently I have to maintain a fork of this to make life easier.

executing `git node metadata https://github.com/nodejs/node-gyp/pull/2285`
will resolve to

[code]

fixing #373 really need this.

also cc @richardlau @rvagg

[2020-12-19 00:41] nschonni commented on #502
Go away stale bot

[2020-12-21 14:00] targos opened #522 "git node land issue with PR with benchmark CI"
[code]

After "Querying API for job/node-test-pull-request/761/", the script just hangs.

[2020-12-22 00:59] rvagg commented on #480
Yeah, I do all of node-gyp's metadata manually, that's still in my muscle memory from old-timey nodejs/node commit merging, but it does get pretty tedious and is probably one of the reasons I delay a lot of merging. Does this just need someone to do the work to enable this for alternative repos while not exposing that complexity to the common use-case of nodejs/node maintenance? That's the approac

[2020-12-27 14:13] ronag opened #523 "Get your Jenkins API token"
I started getting the following error all of the sudden when running `git node land`.

[code]

What does it mean and how do I fix it?

[2020-12-27 14:17] targos commented on #523
You need a personal Jenkins API token in `~/.ncurc`

[2020-12-27 14:25] ronag commented on #523
@targos: it's there and has worked so far... :/

[2020-12-27 15:50] targos commented on #523
Does it still not work? Maybe it was an issue with Jenkins and the `git-node land` script misinterpreted the response it got.

[2020-12-27 15:58] ronag commented on #523
Still the same

[2020-12-27 19:41] ronag commented on #523
I guess this is something other than `"token":` in ncurc. Has this recently changed? How do I get a "Jenkins Token"?

[2020-12-30 18:48] bnb commented on #446
@mmarchini also worth noting there's now npm automation tokens. Not sure if they'll be a good solution for the specific use case (I wouldn't be surprised if they're not - there's still work going into them to make them more broadly usable), but worth a mention at the very least.

[2021-01-04 16:31] targos commented on #523
`token` is for the GitHub token. The Jenkins token should be in `jenkins_token`.
I think the bug is in https://github.com/nodejs/node-core-utils/blob/3c862d1d298917287339b0d2d558b522bb2255cf/lib/auth.js#L71-L74.
If you authenticate with GitHub, the config file is completely rewritten and other keys such as `jenkins_token` can be lost.

[2021-01-04 22:50] mmarchini commented on #446
I think @targos set up token in this repo?

[2021-01-05 05:40] targos commented on #446
What token? I don't remember

[2021-01-05 09:48] ronag commented on #523
How do I fix this?

[2021-01-05 22:55] mmarchini commented on #446
https://github.com/nodejs/node-core-utils/pull/511

[2021-01-05 22:59] mmarchini commented on #523
https://ci.nodejs.org/

click on your name

![image](https://user-images.githubusercontent.com/4048656/103708814-26bb4e00-4f66-11eb-84d4-fd97f26522d3.png)

Click "Configure"

![image](https://user-images.githubusercontent.com/4048656/103708848-39358780-4f66-11eb-9b5b-58524fa62e81.png)

Click "Add new token"

![image](https://user-images.githubusercontent.com/4048656/103708870-42beef80-4f66-11eb-95

[2021-01-06 11:22] #523 closed

[2021-01-07 17:32] targos commented on #446
Ah, I did not setup the token yet. I don't have access to the bot's npm account.

[2021-01-19 01:24] gengjiawen commented on #504
not stale.

[2021-01-26 12:59] joyeecheung opened #525 "missing documentation about how to add jenkins tokens"
Now that the ci query is run by default during a landing session, we should add documentation on how to configure jenkins_token

[2021-01-28 12:11] #525 closed

[2021-02-01 17:09] joyeecheung opened #527 "Add a --no-ci option for git-node land"

[2021-02-01 17:45] joyeecheung opened #529 "git-node land --abort is not working"
Not sure since when but it is a noop at this point

[2021-02-01 17:47] joyeecheung commented on #529
Oops, my bad, it seems to be a non-issue on master

[2021-02-01 17:47] #529 closed

[2021-02-02 17:20] #509 closed

[2021-02-05 12:02] #527 closed

[2021-02-08 22:44] Trott opened #532 "request to join node-core-utils team"
I'd like to add myself to the node-core-utils team.  I also notice there is a pending request from @lundibundi in the GitHub interface. Is it OK to add myself and them? Or is there a process?

[2021-02-11 13:06] richardlau commented on #532
+1. I'm not aware that a process was written down -- perhaps it should as there's also an implication that members of the team also be added as maintainers on npm: https://github.com/nodejs/node-core-utils/issues/494

[2021-02-11 18:53] codebytere commented on #532
+1 from me as well!

[2021-02-11 19:07] Trott commented on #532
OK, added @lundibundi and myself.

[2021-02-11 19:07] #532 closed

[2021-02-15 01:43] ljharb commented on #264
bump forever

[2021-02-17 17:18] codebytere commented on #476
@mmarchini mind if i do this?

[2021-02-26 12:29] targos opened #539 "flaky auth tests in CI"
Example: https://github.com/nodejs/node-core-utils/runs/1987341751?check_suite_focus=true

[code]

[2021-02-26 15:02] jasnell opened #540 "Feature request: add ability to launch CI job from ncu-ci"
e.g.

[code]

[2021-02-26 16:18] targos commented on #540
It's actually a documentation issue. That is already possible with

[code]

[2021-03-02 08:30] targos opened #541 "weird fixes url added in commit message"
Happened while landing https://github.com/nodejs/node/pull/37559

[code]

[2021-03-02 10:30] richardlau commented on #541
FWIW it has picked it up from the issue description:

[2021-03-03 00:39] #484 closed

[2021-03-03 04:44] targos commented on #521
🙃

[2021-03-03 16:09] targos commented on #541
That's a duplicate of https://github.com/nodejs/node-core-utils/issues/233

[2021-03-03 16:09] #541 closed

[2021-03-03 16:12] #521 closed

[2021-04-28 18:43] jasnell opened #545 "Fast-track indicator in commit metadata"
When a pull-request has been fast-tracked, it would likely be good for us to capture that detail in the commit metadata as an FYI. I'm thinking something simple like:

[code]

or

[code]

Doing so would give us a permanent record just to we can make sure in case issues pop up later.

[2021-04-28 19:05] targos commented on #545
I would avoid to change the format of the PR-URL line. It might break other tools like the changelog generator.

[2021-06-14 07:06] targos commented on #539
Still an issue: https://github.com/nodejs/node-core-utils/runs/2797236866

[2021-08-16 18:56] bnb opened #554 "Add ncu-env-check"
There's a pretty decent number of requirements to contribute to node that are easy to fumble. It would be lovely if node-core-utils provided a suite of checks that can be run with a single command (`ncu-env-check`) to validate that a given environment is properly configured.

Here's the list I have so far for Linux:

- [ ] system has git
- [ ] system has python3
- [ ] system has g++
- [ ] system h

[2021-09-10 12:33] gengjiawen opened #559 "[Feature request] ncu-ci run support `v8 engine` label"
If the pr labels `v8 engine`, run https://ci.nodejs.org/job/node-test-commit-v8-linux/ too.

[2021-09-20 00:49] Trott opened #564 "publishing release 1.28.0"
It looks like `release-please` published 1.28.0 to GitHub but not to npm? Any chance someone can publish it to npm and/or add me as a maintainer in npm so I can publish it?

@targos @mmarchini @joyeecheung @richardlau @codebytere

[2021-09-20 06:36] targos commented on #564
It's published, and I added you as an owner.
Why did you cheat to avoid a v2.0.0?

[2021-09-20 06:36] #564 closed

[2021-09-20 11:55] Trott commented on #564
I was only considering my change and not the other unpublished changes. My mistake!

[2021-11-11 10:11] panva commented on #522
I have the exact same issue now.

[code]

[2021-11-11 18:08] tniessen opened #592 "Automatic detection of "Fixes" should be stricter"
In https://github.com/nodejs/node/pull/40613, `node-core-utils@1.30.0` incorrectly adds a `Fixes:` metadata line:

[code]

The commit message was:

[code]

<sub>(Original post in https://github.com/nodejs/node/pull/40613#issuecomment-966507251.)</sub>

[2021-11-11 19:03] richardlau commented on #592
I think it's being picked out of the body of the pull request description. The same issues is also often seen with the npm update pull requests.

[2021-11-17 11:15] codebytere opened #594 "TypeError: fetch is not a function"
Seen after pulling latest `master` - I suspect https://github.com/nodejs/node-core-utils/commit/a571938d6210e1b3138a89037e3791f518bfc7d5.

<details>
<summary>Stacktrace</summary>

[code]

</details>

cc @targos

[2021-11-17 11:31] targos commented on #594
Did you run `npm install` ?

[2021-11-17 11:32] codebytere commented on #594
@targos yes, and removed `node_modules` to be doubly sure!

[2021-11-17 11:36] targos commented on #594
Oh wow, it looks like `undici` doesn't always export a `fetch` function:

[code]

I thought it would be a good idea to use the module to give it some real world test coverage...

@nodejs/undici

[2021-11-17 11:38] targos commented on #594
We should probably go back to `node-fetch`. `undici.fetch` doesn't work on the latest version of Node.js 14

[2021-11-17 11:39] ronag commented on #594
We only export fetch for node >= 16.5 since we depend on web streams

[2021-11-17 11:39] Ethan-Arrowood commented on #594
That is strange, but I believe Undici fetch is still considered experimental even on node 16. Best to stick to node-fetch for now. I can take a closer look later on as well

[2021-11-17 11:39] codebytere commented on #594
@targos yeah i did see that i docs [here](https://undici.nodejs.org/#/?id=undicifetchinput-init-promise) - i can open a PR to revert if that's the path forward!

[2021-11-17 11:41] targos commented on #594
Go ahead! I removed node-fetch because version 3.x doesn't support commonjs, so you'll have to stay with version 2.x.

[2021-11-17 11:42] codebytere commented on #594
Done: https://github.com/nodejs/node-core-utils/pull/595

[2021-11-17 14:01] #594 closed

[2021-12-17 09:59] panva opened #599 "git node land just hangs"
I am unable to land PRs since a few months ago. I've tried issuing new credentials as well as different PRs. This happens for me on every PR.

<details>
<summary>Logs & Details</summary>

![Kapture 2021-12-17 at 10 52 04-min](https://user-images.githubusercontent.com/241506/146526212-182a0e45-d50b-4593-be0c-e0947e45d5cd.gif)

[code]

</details>

[2021-12-17 10:04] targos commented on #599
I thought there was already an issue for it.
This happens for everyone, I think, but it doesn't prevent you from landing PRs.
The issue is that you have to answer a question, but it is not displayed. Just press <kbd>Y + Enter</kbd> and it should work.

[2021-12-17 10:05] panva commented on #599
Ok, what is the question I'm answering? :)

[2021-12-17 10:06] panva commented on #599
OK.

[2022-01-14 14:38] tniessen opened #602 ""git node land" hides co-authored-by trailers"
The original commit message in https://github.com/nodejs/node/pull/41490 was:

[code]

However, `git node land` added metadata at the end without incorporating the `Co-authored-by` line:

[code]

GitHub does not recognize the `Co-authored-by` line since there is an empty line between that and the metadata lines at the end. I didn't know this and I only coincidentally noticed that GitHub did not di

[2022-01-14 20:20] tniessen commented on #602
I've opened https://github.com/nodejs/core-validate-commit/pull/93 to enable `core-validate-commit` to detect this problem.

[2022-01-18 08:23] targos commented on #602
Ideally, `git node land` should detect that there are trailers (not only Co-authored-by) and add its own trailers after them without the additional new line.

[2022-01-18 10:14] targos opened #603 "Broken git-node v8 backport"
[code]

[2022-01-18 12:41] tniessen commented on #602
With https://github.com/nodejs/core-validate-commit/pull/93, `git node land` at least doesn't do that silently anymore:

[code]

[2022-02-03 12:55] targos opened #604 "Automated token generation doesn't work"
[code]

[2022-02-23 13:38] targos opened #605 "Implement fallback in case no EDITOR is set"
https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration

I suggest to use `vi` if available or `notepad.exe` on Windows.

[2022-02-27 16:50] richardlau opened #607 "`ncu-ci walk pr` handling of very broken CI runs"
Today's CI reliability GitHub actions run failed running `ncu-ci walk pr --stats=true --markdown $PWD/results.md`:
https://github.com/nodejs/reliability/actions/runs/1904541710

The log is too big to be displayed in the web UI but downloading the log shows that `ncu-ci` ran out of memory

<details>

[code]
</details>

I'm speculating here that this is because the URL's being parsed are for CI jobs

[2022-04-02 12:26] joyeecheung opened #615 "Consider encrypting .ncurc with a passphrase"
Since it contains tokens (though in general just read permissions of the org and the jenkins), it would be safer if we encrypt it with a passphrase (in case some malicious code gets access to the user's home directory), and perhaps warn if the read permission of it is too generous, similar to how the ssh keys are protected.

[2022-04-07 13:43] mhdawson opened #617 "git-node does not accept current github token format"
Looks to me like https://github.com/nodejs/node-core-utils/pull/613 does not allow the "new" token format from github which start tokens with a string like `ghp_` to be accepted.

@Trott wondering what the motivation for this addition was:

  if (!/^[0-9a-f]+$/.test(token)) {
    errorExit(`token must be lowercase hexadecimal, received ${token}`);
  }

[2022-04-07 14:09] Trott commented on #617
It was a fix to this line that it replaced:

[code]

That line is broken because it matches anything. (The `*` means "zero or more characters, so that regular expression will match any string whatsoever, including an empty string.)

It should very easy to fix the validation so that it allows for `_` and to add a test for the new token format. I'll do that in a few hours when I'm in front of a comp

[2022-04-07 16:28] Trott commented on #617
Fix is in https://github.com/nodejs/node-core-utils/pull/618

[2022-04-07 22:17] #617 closed

[2022-04-10 03:03] gengjiawen opened #619 "can't handle empty commit even by cli"
<details><summary>Commit Queue failed</summary><pre>- Loading data for nodejs/node/pull/42109
✔  Done loading data for nodejs/node/pull/42109
----------------------------------- PR info ------------------------------------
Title      build: add configure option --v8-enable-short-builtin-calls (#42109)
Author     daomingq <daoming.qiu@intel.com> (@qdaoming-intel, first-time contributor)
Branch

[2022-04-25 12:57] austinkelleher opened #626 "Updating Web Platform Tests can cause `ERR_STREAM_PREMATURE_CLOSE`"
# Issue

When updating WPT `resources`, I received a `ERR_STREAM_PREMATURE_CLOSE` error. I also tested updating `streams` and I did _not_ see the error. I'm not sure whether this is due to the size of data being downloaded.

Node version (tried multiple): v19, v16, v14
Hardware:

[code]

[code]

# Suggested Fix

Switching to `undici` from `node-fetch` fixed the issue 😬 ! I'll open a PR.

[2022-04-25 13:05] targos commented on #626
https://github.com/nodejs/node-core-utils/pull/595

[2022-04-25 13:34] austinkelleher commented on #626
@targos Thanks for the info. Very helpful.

Yes, it's true that there is a minimum required version for `unidici`'s `fetch` to be imported. Is it important that this project supports running on older versions of Node? I see that one of the GitHub actions is running against Node 12 and Node 14: https://github.com/nodejs/node-core-utils/blob/main/.github/workflows/nodejs.yml#L29

If it is important

[2022-04-25 18:16] targos commented on #626
I think it's important that this tool can run on the Node.js versions that are most likely used by our collaborators.

I'd be +1 on removing support for Node.js 12. Not sure about 14.

[2022-05-05 11:51] richardlau opened #628 "Adding nodejs/releasers as maintainers"
Refs: https://github.com/nodejs/Release/issues/557

Any objections to adding the release team (@nodejs/releasers) as maintainers of https://github.com/nodejs/node-core-utils? The rationale is to give the release team the ability to maintain release process related tooling, [`git node release`](https://github.com/nodejs/node-core-utils/blob/main/docs/git-node.md#git-node-release) in this case.

[2022-05-15 05:43] LiviaMedeiros opened #633 "Cancelled GitHub CI rerun after success is treated as failure"
PR: https://github.com/nodejs/node/pull/43085
Action rerun attempt: https://github.com/nodejs/node/actions/runs/2320332585/attempts/7
`git-node land` output: https://github.com/nodejs/node/pull/43085#issuecomment-1126858386

At the moment of landing, the latest run of that action was cancelled, there were 5 prior successful runs, and GitHub UI reported everything as green.
However, ncu treated it

[2022-06-04 22:15] nschonni opened #635 "Allow ncu-team sync to run in GitHub Actions"
In order to setup a GitHub Action to auto-PR changes, the `ncu-team` command seems to need the more interactive config/login that I couldn't figure out a way of getting around.

Maybe just a documentation issue, but I couldn't figure out how to get it to either accept the built-in GitHub Actions secret token, or how one might be provided so an auto-PR could be created.

[2022-06-06 03:44] XadillaX commented on #603
I have this problem too.

[2022-06-22 14:34] #603 closed

[2022-07-04 15:38] F3n67u opened #639 "ncu-ci commit TypeError: Cannot read properties of null (reading '1')"
## Reproduce

[code]

## Expected behavior
No Error happened, could process `job/node-test-commit/54550/` normally

## Actual behavior
TypeError thrown

## Additional Information

Refs: https://github.com/nodejs/reliability/issues/316

Jenkins job URL:
https://ci.nodejs.org/job/node-test-commit-osx-arm/6298/
https://ci.nodejs.org/job/node-test-commit/54550/
https://ci.nodejs.org/job/node-test-pull

[2022-07-04 22:37] aduh95 commented on #639
The CI has been locked in preparation for the security release, I think the error is the expected behavior.

[2022-07-04 22:41] richardlau commented on #639
This was occuring at the end of last week before the CI was locked down, see https://github.com/nodejs/reliability/issues/316.

[2022-07-11 09:59] F3n67u commented on #639
After some debugging, I found the following additional info, but still don't figure out why the test console text is not behaving as expected.

Jenkins job URL:
https://ci.nodejs.org/job/node-test-commit-osx-arm/6298/
https://ci.nodejs.org/job/node-test-commit/54550/
https://ci.nodejs.org/job/node-test-pull-request/44957/

Problem Console Text:
https://ci.nodejs.org/job/node-test-commit-osx-arm/no

[2022-07-11 10:01] F3n67u commented on #639
@MoLow do you have any idea why?

[2022-07-11 10:27] F3n67u commented on #639
pattern length and outline length differs.
pattern length is 512
outline length is 513

the diff is from last part.

pattern is:

[code]

outline is:

[code]

the pattern has not `cancelled` but the outline has `cancelled`. this is why length differs print and cause the parse error.

[2022-07-11 11:03] F3n67u commented on #639
I know what is the problem now:

1. `test_runner_desctibe_it` has a snapshot: `test_runner_desctibe_it.out`, but the actual output is not match the snapshot
2. the `test_runner_desctibe_it` fail and print a log that says the `pattern` and `outline` is not match
3. the outline is a test output, ncu-ci think it is a real test output and try to parse it and result in parse fail

[2022-07-11 11:13] MoLow commented on #639
@F3n67u anything I can do to help?
I guess we can either change the output of `tools/test.py` in case of a output that contains tap
or we can change the code in this repo to accept the malformed output.
Il try playing around with both options

[2022-07-11 11:13] MoLow commented on #639
Oh thanks for fixing it :)

[2022-07-11 11:15] F3n67u commented on #639
I figure out how to fix this problem. I made a pr to fix this.

[2022-07-11 12:02] richardlau commented on #639
FWIW we may have a similar issue in https://github.com/nodejs/tap2junit when parsing failures from `test_runner_desctibe_it`, https://github.com/nodejs/node/issues/43773

[2022-07-13 04:29] MoLow commented on #639
Seems like the issue can be closed: https://github.com/nodejs/reliability/issues/321

[2022-07-13 05:38] F3n67u commented on #639
no worry. this issue will closed by https://github.com/nodejs/node-core-utils/pull/640

[2022-07-26 23:27] aduh95 opened #643 "CQ landed a PR it shouldn't been able to"
The CQ landed https://github.com/nodejs/node/pull/43849, even though I pushed a commit way after the last review. I'm not what caused this, but it shouldn't have happened – the only "unusual" thing I've done was using the web UI to create the last commit, perhaps those are somehow missed?

_Originally posted by @nodejs-github-bot in https://github.com/nodejs/node/issues/43849#issuecomment-11960493

[2022-07-27 04:49] targos commented on #643
May be interesting to look at the logs of the worflow

[2022-07-27 05:32] aduh95 commented on #643
The workflow logs are available at https://github.com/nodejs/node/runs/7530255401?check_suite_focus=true

<details>

[code]

</details>

[2022-07-27 06:35] targos commented on #643
<details>

<summary>Relevant part of the logs</summary>

[code]

</details>

[2022-07-30 03:09] F3n67u commented on #639
Update CI reliability job stop working again, review wanted for https://github.com/nodejs/node-core-utils/pull/640.
https://github.com/nodejs/reliability/runs/7587812485?check_suite_focus=true

[2022-07-30 09:05] #639 closed

[2022-07-31 12:29] #602 closed

[2022-09-21 09:21] gengjiawen opened #646 "wrong CI status"
PR: https://github.com/nodejs/node/pull/44210

[2022-09-21 09:38] aduh95 commented on #646
I think that's an issue that should be reported to GitHub, there's not much that can be done at the ncu level.

[2022-09-21 10:05] gengjiawen commented on #646
truly. This seems a longstanding issue. I doubt report would help much.

[2022-09-21 10:05] #646 closed

[2022-09-29 08:31] MoLow opened #647 "Reliablility report is inaccurate"

[2022-10-13 12:44] gengjiawen opened #653 "current issues with network"
* node-fetch not working on 18 (maybe only with proxy)

[2022-10-22 00:16] #559 closed

[2022-10-27 03:23] aduh95 commented on #653
This is breaking the `request-ci` workflow on nodejs/node: https://github.com/nodejs/node/actions/runs/3333705931/jobs/5515914780

[code]

[2022-10-27 03:25] gengjiawen commented on #653
@aduh95 Downgrade to Node 16 temporally maybe ?

In the long run, should we replace node-fetch ?

[2022-10-27 03:29] aduh95 commented on #653
I'd say yes, possibly with `globalThis.fetch` now that it's available.

[2022-10-27 03:31] gengjiawen commented on #653
First issue since v18 became lts :)

[2022-10-27 15:14] richardlau commented on #653
There's another issue here which is the breakage doesn't cause the workflow to fail. From that run the `request-ci` label was removed from https://github.com/nodejs/node/pull/45179 but because of the issue with node-fetch no CI job was actually queued in Jenkins.

[2022-11-15 09:24] avivnakar commented on #653
I believe the issue is deeper than node-fetch specifically
This snippet fails at 18 lts, and works with 16
[code]
All of these are failing on 18 but working on 16.
[code]

Btw it's ngrok api, if you wish testing yourself, run `ngrok http 5000` or any other port instead of 5000

[2022-11-15 09:40] gengjiawen commented on #653
@avivnakar better report it in `nodejs/node` repo with repro (ngrok has an npm module IIRC).

[2022-11-24 08:33] gengjiawen opened #660 "fail positive on github action fails."
<details>

<summary>Commit Queue failed</summary><pre>- Loading data for nodejs/node/pull/45573
✔  Done loading data for nodejs/node/pull/45573
----------------------------------- PR info ------------------------------------
Title      deps: V8: cherry-pick 2ada52cffbff (#45573)
Author     Michaël Zasso <targos@protonmail.com> (@targos)
Branch     targos:fix-45171 -> nodejs:main
Labels     build,

[2022-11-24 08:38] targos commented on #660
It's not a false positive. I rebased and pushed after the last review.

[2022-11-24 08:49] targos commented on #660
Yes, but that's expected. Someone needs to submit a review after the push.

[2022-11-24 08:59] targos commented on #660
Isn't it because of this?
![image](https://user-images.githubusercontent.com/2352663/203738569-01e7036d-af3d-4ecc-b996-fad01fe62663.png)

[2022-11-24 10:44] targos commented on #660
I reopened because the error was wrong, but I still think the failure was expected (Jenkins CI had a failure).

[2022-11-24 11:38] aduh95 commented on #660
Yeah, "GitHub CI" is not very accurate because all it does is check the "status of the PR", which includes the Jenkins results.

[2022-11-24 12:45] targos commented on #660
But why did ncu say "Last Jenkins CI successful" when https://ci.nodejs.org/job/node-test-pull-request/48124/ is clearly red?

[2022-11-28 03:20] luyahan opened #661 "Occurs error when run git node"
[code]

[2022-11-28 03:32] luyahan commented on #661
Fix it by ppdate node  to v18